<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="miniHP-Wrap">
    <div class="miniHP-ListContainer">

       <!--
       <div class="miniHP-PostTitle dFlex">
        <input type="checkbox" class="miniHP-ListChkbox"/>
        <span class="miniHP-PostTitleName">제목</span>
        <span class="miniHP-PostedBy">작성자</span>
        <span class="miniHP-PostDate">작성일</span>
        <span class="miniHP-PostViewCount">조회수</span>
      </div>

      <div class="miniHP-PostArea dFlex">
        <input type="checkbox" class="miniHP-ListChkbox"/>
        <span class="miniHP-PostTitleName">제목입니다.</span>
        <span class="miniHP-PostedBy">워너비비</span>
        <span class="miniHP-PostDate">2025.04.10</span>
        <span class="miniHP-PostViewCount">100</span>
      </div>

      <div class="miniHP-PostArea dFlex">
        <input type="checkbox" class="miniHP-ListChkbox"/>
        <span class="miniHP-PostTitleName">제목입니다2.</span>
        <span class="miniHP-PostedBy">워너비비</span>
        <span class="miniHP-PostDate">2025.04.10</span>
        <span class="miniHP-PostViewCount">100</span>
      </div>
      -->
    </div>

    <!-- 페이지네이션 -->
    <div id="pagination">
      <!--<button id="prevPage">&lt;&lt;</button>-->
      <span id="pageNumbers"></span> <!-- 페이지 번호 버튼을 여기에 추가 -->
      <!--<button id="nextPage">&gt;&gt;</button>-->
    </div>
  </div>

</body>
</html>