<div th:fragment="script">
    <!-- library -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- custom common -->
    <script th:type="module" th:src="@{/static/js/common/api.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/page.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/httpStatus.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/swal.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/ajax.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/header.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/login-new.js}"></script>
    <script th:type="module" th:src="@{/static/js/common/find-modal.js}"></script>
</div>
