<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:h="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="visit">
  <div id="insert" class="input_wrapper">
    <div class="profile_img">
      <img src="/static/images/common/minimi/은모.png" alt="미니미">
    </div>
    <div class="insert_body">
      <div class="text">
        <div id="visitorTextCount" class="textCount">0 / 500</div>
        <textarea type="text" name="content" id="visitor_content"></textarea>
      </div>
      <div class="visitor_bottom insert_bottom">
        <div class="check"><input type="checkbox" name="secret" class="secret-check" id="secret_check"><label>비밀글</label></div>
        <button type="submit" id="insert_btn" class="visitor_button"> 등록 </button>
      </div>
    </div>
  </div>
  <hr class="visitor-divider" />
  <!--  방명록 글   -->
    <div id="select" th:each="item : ${visitorList}" class="visitor_wrapper visitor_item"  th:data-id="${item.guestBookId}">
      <div class="visitor_title"
           th:classappend="${item.secretCheck == 'Y'} ? ' secret' : ' public'">
        <div class="name-wrapper">
          <p class="visitor_name" th:text="${item.Name}">아이디</p>
          <img class="icon_lock" th:if="${item.secretCheck == 'Y'}" src="/static/images/common/minihompi/icon_lock.svg" alt="비밀글">
        </div>
        <p th:text="${item.getUpdateDt != null ? item.InsertDt : item.getUpdateDt}">날짜</p>

      </div>
      <div class="visitor_body">
        <div class="content_wrapper">
          <div class="profile_img">
            <img src="/static/images/common/minimi/은철.png" alt="미니미">
          </div>
          <div class="visitor_content text" >
          <textarea readonly class="textarea view-textarea"
                    th:utext="${item.secretCheck == 'Y' and (session.userData.userId != item.insertUserId and session.userData.userId != item.ownerUserId)
                       ? '비밀글입니다.'
                       : item.guestBookContent}">
          </textarea>
          </div>
        </div>
        <div class="visitor_bottom view_bottom" th:if="${session.userData.userId == item.insertUserId}" >
          <button class="visitor_button update_btn"> 수정 </button>
          <button class="visitor_button delete_btn"> 삭제 </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

