/* 로딩 스피너 배경 */
.spinner-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.loading-spinner-spin {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    width: 200px;
    height: 200px;
}

.ldio-yzaezf3dcmj div > div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    animation: ldio-yzaezf3dcmj 1s linear infinite;
}

/* 개별 스피너 점의 애니메이션 설정 */
@keyframes ldio-yzaezf3dcmj {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }
    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-yzaezf3dcmj div:nth-child(1) > div {
    left: 148px;
    top: 88px;
    animation-delay: -0.875s;
}

.ldio-yzaezf3dcmj > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
}

.ldio-yzaezf3dcmj div:nth-child(2) > div {
    left: 130px;
    top: 130px;
    animation-delay: -0.75s;
}

.ldio-yzaezf3dcmj > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 142px 142px;
}

.ldio-yzaezf3dcmj div:nth-child(3) > div {
    left: 88px;
    top: 148px;
    animation-delay: -0.625s;
}

.ldio-yzaezf3dcmj > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 160px;
}

.ldio-yzaezf3dcmj div:nth-child(4) > div {
    left: 46px;
    top: 130px;
    animation-delay: -0.5s;
}

.ldio-yzaezf3dcmj > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 58px 142px;
}

.ldio-yzaezf3dcmj div:nth-child(5) > div {
    left: 28px;
    top: 88px;
    animation-delay: -0.375s;
}

.ldio-yzaezf3dcmj > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 40px 100px;
}

.ldio-yzaezf3dcmj div:nth-child(6) > div {
    left: 46px;
    top: 46px;
    animation-delay: -0.25s;
}

.ldio-yzaezf3dcmj > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 58px 58px;
}

.ldio-yzaezf3dcmj div:nth-child(7) > div {
    left: 88px;
    top: 28px;
    animation-delay: -0.125s;
}

.ldio-yzaezf3dcmj > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 40px;
}

.ldio-yzaezf3dcmj div:nth-child(8) > div {
    left: 130px;
    top: 46px;
    animation-delay: 0s;
}

.ldio-yzaezf3dcmj > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 142px 58px;
}

img.dotori-icon{
    width: 20px;
    height: 20px;
}

/* 모달 레이어 */
.modal-layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-content {
    width: 400px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content .logo {
    text-align: center;
    margin-bottom: 20px;
}
.modal-content .modal-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 5px;
}
.modal-content .modal-tabs button {
    width: 50%;
    padding: 10px;
    border: 1px solid var(--color-lgray);
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-basic);
    cursor: pointer;
}
.modal-content .modal-tabs button.active {
    border: 1px solid var(--color-basic);
    background-color: var(--color-basic);
    color: var(--color-white);
}
.modal-content .input-group {
    margin-bottom: 15px;
}
.modal-content .input-group label {
    display: block;
    margin-bottom: 5px;
}

.modal-content .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-lgray);
    border-radius: 5px;
}

.modal-content .input-group .input-box {
    width: 100%;
    display: flex;
    gap: 5px;

    input {
        width: 260px;
    }
}

.modal-content .input-group .select-group {
    display: flex;
    width: 100%;
    gap: 5px;
}
.modal-content .input-group select {
    width: 33%;
    height: 40px;
    padding: 5px;
    border: 1px solid var(--color-lgray);
    border-radius: 5px;
}
.modal-content .input-group button {
    width: 100px;
    padding: 10px;
    border: 1px solid var(--color-lgray);
    border-radius: 5px;
    background-color: var(--color-white);
    cursor: pointer;

    &:hover {
        border: 1px solid var(--color-basic);
        background-color: var(--color-basic);
        color: var(--color-white);
    }
}
.modal-content .btn-group {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.modal-content .btn-group button {
    width: 100%;
}
.modal-content button {
    padding: 10px;
    border: 1px solid var(--color-lgray);
    border-radius: 5px;
    background-color: var(--color-white);
    cursor: pointer;

    &:hover {
        border: 1px solid var(--color-basic);
        background-color: var(--color-basic);
        color: var(--color-white);
    }
}