<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/post.css">

     <div class="post-register">
        <button class="register-btn">등록</button>
     </div>

     <div class="day-container">
            <table>
                <tbody id="day">
                   <tr>
                       <td data-day="sun">1</td>
                       <td data-day="mon">2</td>
                       <td data-day="tue">3</td>
                       <td data-day="wed">4</td>
                       <td data-day="thu">5</td>
                       <td data-day="fri">6</td>
                       <td data-day="sat">7</td>
                       <td data-day="sun">8</td>
                       <td data-day="mon">9</td>
                       <td data-day="tue">10</td>
                       <td data-day="wed">11</td>
                       <td data-day="thu">12</td>
                       <td data-day="fri">13</td>
                       <td data-day="sat">14</td>
                       <td data-day="sun">16</td>
                       <td></td>
                   </tr>

                   <!-- 두 번째 행 -->
                   <tr>
                       <td data-day="mon">17</td>
                       <td data-day="tue">18</td>
                       <td data-day="wed">19</td>
                       <td data-day="thu">20</td>
                       <td data-day="fri">21</td>
                       <td data-day="sat">22</td>
                       <td data-day="sun">23</td>
                       <td data-day="mon">24</td>
                       <td data-day="tue">25</td>
                       <td data-day="wed">26</td>
                       <td data-day="thu">27</td>
                       <td data-day="fri">28</td>
                       <td data-day="sat">29</td>
                       <td data-day="sun">30</td>
                       <td data-day="mon">31</td>
                       <td data-day="tue"></td>
                   </tr>
                </tbody>
            </table>
    </div>
    <div class="post-container">

        <!-- 게시물 내용 -->
        <div class="post-content" id="dairy">
            <p>
                사람을 짜증나게 하는 방법에는 두가지가 있다. <br>
                첫번째는 말을 하다 마는 것이고 <br>
                두번째는 같은 말을 반복하는 것이다.
            </p>
            <p>
                이와 관련되어 4년전인 2018년 하버드대 응용심리학연구실의 <br>
                집단연구에 의하면 말을 하다 마는 것과 같은 말을 반복하는것 외에도 <br>
                사람의 신경을 날카롭게 자극하는 또다른 요인이 있는 것으로 밝혀졌는데, <br>
                첫번째로 같은 말을 반복하는 것이고 두번째로 말을 하다 마는 것이었다.
            </p>

</div>
</div>
<div class="post-bottom">
<!-- 게시물 액션 -->
<div class="post-actions">
<button class="delete-btn">삭제</button>
<button class="edit-btn">수정</button>
</div>

<!-- 댓글 작성 -->
<div class="friendSay">
<div class="comment-section">
<span id="comment-name">일촌평 작성</span><input type="text" >
<button>등록</button>
</div>
</div>
<ul class="commentList">
   <li>
        <span class="comment">멋진 삶을 사시는군요!</span>
        <span class="star">(서든어택 클마 <span class="nickName fcWb">서던택</span>) <span class="todayDate">2025.02.26</span><div class="deleteImg"><img src="/static/images/common/delete.png"></div></span>
   </li>
   <li>
        <span class="comment">어제 아주 멋있었습니다! 근데 평소에 화가 많으신가요...?</span>
        <span class="star">(오버워치 클마 <span class="nickName fcWb">오버치</span>) <span class="todayDate">2025.02.26</span><div class="deleteImg"><img src="/static/images/common/delete.png"></div></span>
   </li>
   <li>
        <span class="comment">요즘 무슨노래 들어??</span>
        <span class="star">(음악친구 <span class="nickName fcWb">버그스</span>) <span class="todayDate">2025.02.26</span><div class="deleteImg"><img src="/static/images/common/delete.png"></div></span>
   </li>
   <li>
        <span class="comment">동해번쩍! 서해번쩍!</span>
        <span class="star">(누구신지 <span class="nickName fcWb">홍길동</span>) <span class="todayDate">2025.02.26</span><div class="deleteImg"><img src="/static/images/common/delete.png"></div></span>
   </li>
</ul>

</div>