<div class="post-register">
    <p></p>
    <button id="registerBtn">등록</button>
</div>

<div class="day-container">
    <table>
        <tbody id="day">

        </tbody>
    </table>
</div>
<div class="post-container">
    <!-- 게시물 내용 -->
    <div class="post-content" id="diary">
    </div>
</div>
<div class="post-bottom">
    <!-- 게시물 액션 -->
    <div class="post-actions">
        <button class="delete-btn">삭제</button>
        <button class="edit-btn">수정</button>
    </div>

    <!-- 댓글 작성 -->
    <div class="diaryCommentSay">
        <table class="diaryCommentTable">
            <colgroup>
                <col width="7%">
                <col width="*">
                <col width="7%">
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <p class="fcWb">댓글</p>
                </td>
                <td>
                    <input type="text" id="diaryComment" placeholder="다이어리에 댓글을 달아보세요~!">
                </td>
                <td>
                    <button type="button" id="diaryCommentBtn" >확인</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="diaryCommentNo">
            <colgroup>
                <col width="7%">
                <col width="*">
                <col width="7%">
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <p class="fcWb">댓글</p>
                </td>
                <td>
                    <input type="text" placeholder="댓글을 달 권한이 없습니다~!" disabled>
                </td>
                <td>
                    <button type="button" >확인</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="commentList">

    </ul>

</div>