<div class="folderContainer">
    <div id="folderTitle">다이어리</div>
    <hr>
    <div id="diaryCalender">
        <div id="folderWrap">
            <div class="selectWrap">
            <button id="folderAddBtn"><img src="/static/images/common/addFolder.png"> 폴더 추가</button>
            </div>
            <div id="folderNameWrap">
                <input type="text" class="folderInput" placeholder="폴더명을 입력해주세요">
                <button class="folderInputBtn">등록</button>
            </div>
        </div>
    </div>
</div>