<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="  crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>쪽지함</title>
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="/static/css/home/popupMessage.css">
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="logo">
            <img src="/static/images/common/logo/logo_full.png">
        </div>
    </header>
    <!--header#header-->
    <main id="main" class="dFlex">
        <div id="popupMessageNav">
            <ul>
                <li class="navClick sendMsgFrm" ><span class="sendMsgFrm aTag">쪽지 보내기</span></li>
                <li class="navClick receiveMsgbox"><span class="receiveMsgbox aTag">받은 쪽지함</span></li>
                <li class="navClick sendMsgBox"><span class="sendMsgBox aTag">보낸 쪽지함</span></li>
            </ul>
            <span class="receiveMsgCount circle"></span>
        </div>
        <!--Nav 메뉴 선택에 따른 include 부분-->
        <div id="popupMessageMain">
            Nav 메뉴 선택에 따른 include 부분
        </div>
        <!--div#popupMessageMain-->
    </main>
    <!--main#main.dFlex-->
</div>
<!--div#wrap-->
<script src="/static/js/home/popupMessage.js"></script>
</body>
</html>
