<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>

    <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="  crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>쪽지함</title>

    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/yesLoginPopupMessage.css">

</head>

<body>
<div id="wrap">
    <header id="header">
        <a href="#" class="logo">
            <img src="/static/images/common/logo_full.png">
        </a>
    </header>
    <!--header#header-->

    <main id="main" class="dFlex">

        <div id="popupMessageNav">
            <ul>
                <li class="navClick sendMsgFrm" ><a href="#" class="sendMsgFrm aTag">쪽지 보내기</a></li>
                <li class="navClick receiveMsgbox"><a href="#" class="receiveMsgbox aTag">받은 쪽지함</a></li>
                <li class="navClick sendMsgBox"><a href="#" class="sendMsgBox aTag">보낸 쪽지함</a></li>
            </ul>
            <span class="reciveMsgCount circle"></span>
        </div>
        <!--Nav 메뉴 선택에 따른 include 부분-->
        <div id="popupMessageMain">
            Nav 메뉴 선택에 따른 include 부분

        </div>
        <!--div#popupMessageMain-->

    </main>
    <!--main#main.dFlex-->

</div>
<!--div#wrap-->


<script src="/static/js/home/popupMessage.js"></script>

</body>
</html>
