<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <title>onlineMain</title>
  <link rel="stylesheet" href="/static/css/old/reset.css">
  <link rel="stylesheet" href="/static/css/old/onlineStyle.css">
  <link href="http://cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
  <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="  crossorigin="anonymous"></script>
 </head>
 <script>
 	$(document).ready(function(){
		$("#dongOpen").click(function(){
			$(".modalBg").show();
			$(".modal").show();
		});

		$(".close").click(function(){
			$(".modalBg").hide();
			$(".modal").hide();
		});
	});

	
 </script>
 
 <body>
	<div id="wrap">
		<!--헤더 시작-->
		<div id="header">
			<div class="headerLeft">
				<a href="#" class="logo"><img src="/images/common/logo_full.png"></a>
			</div>
			<div class="headerRight">
				<ul>
					<li>(접속IP : 127.0.0.1)</li>
					<li class="name">홍길동</li>
					<li><a><img src="/images/common/homeIcon.png"></a></li>
					<li><a href="#"><img src="/images/common/option.png"></a></li>
					<li><a href="#" class="btn nobtn">로그아웃</a></li>
				</ul>
			</div>
		</div>
		<!--헤더 끝-->

		<!--gnb 시작-->
		<div id="gnb">
			<div>
				<ul>
					<li><a href="#">내미니홈피</a></li>
					<li><a href="#">선물가게</a></li>
					<li><a href="#">장바구니</a></li>
					<li><a href="#">공지사항</a></li>
					<li><a href="#">ABOUT US</a></li>
				</ul>
			</div>
		</div>
		<!--gnb 끝-->

		<!--메인 시작-->
		<div id="container">
			<div class="containerWrap">
				<div class="mainTop">
					<!--login s-->
					<div class="mainTopLeft">
						<div class="loginWrap yesLogin">
							<div class="yesLoginDiv1">
								<div>홍길동</div>
								<div>
									<ul>
										<li><a class="btn small">내정보수정</a></li>
										<li><a class="btn small nobtn">로그아웃</a></li>
									</ul>
								</div>
							</div>
							<div class="yesLoginDiv2">
								<div><img src="/images/common/minimi/은모.png"/></div>
								<div>
									<ul>
										<li>
											<span class="title">일촌ON</span>
											<span class="text">11</span>
										</li>
										<li>
											<span class="title">쪽지</span>
											<span class="text">30</span>
										</li>
										<li>
											<span class="title">오늘 방문자</span>
											<span class="text">113</span>
										</li>
										<li>
											<span class="title">새 게시물</span>
											<span class="text">2</span>
										</li>
										<li>
											<span class="title">일촌신청</span>
											<span class="text">4</span>
										</li>
										<li>
											<span class="title">보유도토리</span>
											
											<span class="text"><img src="/images/common/dotori.png"> <span class="text">720</span> <a class="btn small di">충전</a></span>
											
										</li>

									</ul>
								</div>
							</div>
							<a class="btn">내 미니홈피 바로가기</a>
						</div>
					</div>
					<!--login e-->
					<div class="mainTopCenter">
						메인슬라이더
					</div>
					<div class="mainTopRight">
						<p>날씨정보</p>
						<ul></ul>
					</div>
				</div>
				<div class="mainBot">
					<div class="mainBotLeft">
						<div>
							<p class="mainTitleText">신규출시아이템</p>
							<table>
								<colgroup>
									<col width="10%">
									<col width="20%">
									<col width="*">
								</colgroup>
								<tbody>
<!--									<tr>-->
<!--										<td class="num">1</td>-->
<!--										<td><img src="/images/common/minimi/exNewItemImage2.png"/></td>-->
<!--										<td>소복입은 여자 구미호</td>-->
<!--									</tr>-->
<!--									<tr>-->
<!--										<td class="num">2</td>-->
<!--										<td><img src="/images/common/minimi/exNewItemImage3.png"/></td>-->
<!--										<td>붉은 승복의 승려</td>-->
<!--									</tr>-->
<!--									<tr>-->
<!--										<td class="num">3</td>-->
<!--										<td><img src="/images/common/minimi/exNewItemImage4.png"/></td>-->
<!--										<td>우리들의 소망 피터팬</td>-->
<!--									</tr>-->
<!--									<tr>-->
<!--										<td class="num">4</td>-->
<!--										<td><img src="/images/common/minimi/exNewItemImage4.png"/></td>-->
<!--										<td>우리들의 소망 피터팬</td>-->
<!--									</tr>-->
								</tbody>
							</table>
						</div>
					</div>
					<div class="mainBotCenter">
						<div class="top">
							<p class="mainTitleText">인기 급상승 유저 <span>전일 기준 방문자 수 Top 10</span></p>
							<ul class="favoriteListWrap">
								<li>
									<ul class="favoriteList favoriteList1">
										<li>
											<div class="faNum">1
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
											</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">2
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
											</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">3
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
											</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">4
												<span><img src="/images/common/star.png"></span>
												<span><img src="/images/common/star.png"></span>
											</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">5
												<span><img src="/images/common/star.png"></span>
											</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
									</ul>
								</li>
								<li>
									<ul class="favoriteList favoriteList2">
										<li>
											<div class="faNum">6</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">7</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">8</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">9</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
										<li>
											<div class="faNum">10</div>
											<div class="faText">
												<span class="name">홍길동</span>
												<img src="/images/common/homeIcon.png"/>
												<span class="today">Today :</span>
												<span class="todayNum">1234</span>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="bot">
							<p class="mainTitleText">실시간뉴스</span></p>
							<ul>
								<li>실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다</li>
								<li>실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다</li>
								<li>실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다</li>
								<li>실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다</li>
								<li>실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다실시간뉴스다</li>
							</ul>
						</div>				
					</div>
					<div class="mainBotRight">
						<div class="top">
							<p class="mainTitleText">오늘의 운세</span></p>
							<p class="todayLucky">퍼블 하기에 디자인이 겁나 꼬인 날입니다.</p>
						</div>
						<div class="bot">
							<p class="mainTitleText">영화추천</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--메인 끝-->

		<!--푸터 시작-->
		<div id="footer">
			<div class="footerWrap">
				<div>
					<p>ⓒ2025.<span>Team. <span class="basic">WannabeDev</span></span>All rights reserved.</p>
					<p>Since.2025.2.24~</p>
				</div>
			</div>
		</div>
		<!--푸터 끝-->
	</div>

	<div class="modalBg" style="display:block;"></div>
	<div class="gonggiModal" style="display:block;">
		<div class="gonggiModalTop">
			<img src="/images/common/logo_full.png">
		</div>
		<div class="gonggiModalMid">
			<p class="title">긴급 서버 점검 안내</p>

			<div>
				안녕하세요 :)<br>
				워너비 개발팀입니다.<br><br>

				저희 워너비를 이용해주셔서 항상 감사드리빈다.<br><br>

				다음과 같이 서버 점검 안내를 공지합니다.<br><br>
					
				오류의 소스코드 오타로 인해 서버 점검 합니다<br><br>

				다시는 이런 일이 일어 나지 않게 오류사원을 권고사직 시키겠습니다.<br><br>

				이용에 불편을 드려서 어쩔티비<br><br>

				감사합니다
			</div>
		</div>

		<div class="gonggiModalBot">
			<ul class="clearBox">
				<li>
					<label><input type="checkbox" name="" id="">오늘 하루 보지 않기</label>
				</li>
				<li>
					공지기간 : 2025-03-01 ~ 2025-03-03
				</li>
			</ul>
		</div>

		
	</div>
 </body>
</html>


