<div id="popMsgListContainer" th:attr="data-totalPages=${totalPages}, data-totalUnreadMsg=${receiveUnreadMsgCount}" >
    <div id="popMsgListTitle">
        <input class="msgListTitle msgChkbox" type="checkbox" onclick="fncMsgListAllChkBox()">
        <span class="msgListTitle title-insertUserId">보낸사람</span>
        <span class="msgListTitle title-Msg">내용</span>
        <span class="msgListTitle title-date">날짜</span>
    </div>

    <div id="msgListBox">
        <div class="popMsgListBox dFlex"
             th:each="msg : ${msgList}"
             th:class="${msg.ReadYN == 'N' ? 'unread' : 'read'}">
            <input type="checkbox" th:attr="data-messageId=${msg.messageId}" class="msgChkboxList" onclick="fncMsgChkBox()">
            <span class="popMsg-insertUserId" th:text="${msg.friendUserId == 0 ? 'WANNABE' : msg.name}"></span>
            <span class="popMsg-Msg" th:text="${#strings.abbreviate(msg.message, 15)}" th:attr="onclick=|fncMsgView(${msg.messageId}, this, 'receive')|"></span>
            <span class="popMsg-date" th:text="${#dates.format(msg.insertDT, 'yyyy.MM.dd HH:mm')}" th:attr="onclick=|fncMsgView(${msg.messageId}, this, 'receive')|"></span>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div id="pagination">
        <!--<button id="prevPage">&lt;&lt;</button>-->
        <span id="pageNumbers"></span> <!-- 페이지 번호 버튼을 여기에 추가 -->
        <!--<button id="nextPage">&gt;&gt;</button>-->
    </div>
</div>
