<div id="popMsgListContainer" th:attr="data-totalPages=${totalPages}">
    <div id="popMsgListTitle">
        <input class="msgListTitle msgChkbox" type="checkbox">
        <span class="msgListTitle">보낸사람</span>
        <span class="msgListTitle">내용</span>
        <span class="msgListTitle">날짜</span>
    </div>

    <div id="msgListBox">
        <div class="popMsgListBox"
             th:each="msg : ${msgList}"
             th:class="${msg.ReadYN == 'N' ? 'unread' : 'read'}">
            <input type="checkbox">
            <span class="popMsg-insertUserId" th:text="${msg.friendUserId == 0 ? 'WANNABE' : msg.name}"></span>
            <span class="popMsg-Msg" th:text="${#strings.abbreviate(msg.message, 35)}"></span>
            <span class="popMsg-date" th:text="${#dates.format(msg.insertDT, 'yyyy.MM.dd HH:mm')}"></span>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <div id="pagination">
        <button id="prevPage" disabled>&lt;&lt;</button>
        <span id="pageNumbers"></span> <!-- 페이지 번호 버튼을 여기에 추가 -->
        <button id="nextPage">&gt;&gt;</button>
    </div>
</div>
