<div id="popupMessageMainHeader" th:each="msgView : ${reciveMsgView}">
    <span>보낸사람 :</span> <span th:text="${msgView.name}">김일촌</span>
    <p class="receiveMessageTime" >수신일시 : <span th:text="${#dates.format(msgView.insertDT, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
</div>
<!--div#popupMessageMainHeader-->

<div id="popupMessageMainArea" th:each="msgView : ${reciveMsgView}">
    <pre id="reciveMessagePre" th:text="${msgView.message}">
안녕하세요! 😊
오랜만에 안부 인사 전합니다. 잘 지내고 계시죠?
요즘 날씨가 점점 따뜻해지고 있는데, 기분도 함께 밝아졌으면 좋겠어요.
바쁜 일상 속에서도 건강 잘 챙기고 계신가요? 저는 그럭저럭 잘 지내고 있어요.
최근에 새로운 취미를 시작했는데, 생각보다 재미있더라고요.
혹시 요즘 하고 있는 일이나 새롭게 도전하는 게 있나요?
시간이 지나도 변함없이 좋은 일들이 가득하길 바라요. 가끔은 쉬어가면서 맛있는 것도 먹고, 여유도 즐기셨으면 해요.
조만간 만나서 같이 이야기 나누면 좋겠네요!
항상 건강하고 행복하시길 바라며, 답장 기다릴게요!
😊좋은 하루 보내세요! 💕
    </pre>
    <div id="popupMessageReciveBtnArea" class="dFlex">
        <a  class="btn small di" data-pageName="recive" onclick="fncBackPage(this)">목록</a>
        <a class="btn small di">답장</a>
        <a class="btn small di">삭제</a>
    </div>
    <!--div#popupMessageReciveBtnArea-->

</div>
<!--div#popupMessageMainArea-->