<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head>
    <title layout:fragment="title">선물가게</title>
    <!-- 선물가게 페이지 전용 스타일 -->
    <link rel="stylesheet" th:href="@{/static/css/giftShop.css}" layout:fragment="styles"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
          layout:fragment="styles"/>
    <th:block th:replace="common/layout/fragments/favicon :: favicon"></th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="mainContainer">
        <div class="giftMenu">
            <nav>
                <ul class="top-header-menu">
                    <li class="tab active"><a href="#">선물가게 홈</a></li>
                    <li class="tab"><a href="#">베스트셀러</a></li>
                    <li class="tab"><a href="#">주간인기</a></li>
                    <li class="tab"><a href="#">선물함</a></li>
                </ul>
            </nav>
        </div>
        <div class="subMainContainer">
            <div class="menuContainer">
                <div class="menuProfile">
                    <div class="top">
                        <div>
                            <span>보유 도토리</span>
                        </div>
                        <div class="dotori">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">720
                        </div>
                        <div class="topUp">
                            충전
                        </div>
                    </div>
                    <div class="userDesc">
                        <div class="userProfile">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                        </div>
                        <div class="userInfo">
                            <div class="userInfo1">
                                <span>홍길동</span>
                                <img src="/static/images/common/option.png">
                            </div>
                            <div class="userInfo2">
                                <span>쪽지    30</span>
                            </div>
                            <div class="userInfo3">
                                <span>일촌ON    11</span>
                            </div>
                            <div class="logout">
                                <span>로그아웃</span>
                            </div>
                        </div>
                    </div>
                    <div class="hompiInfo">
                        <div>
                            <span>오늘 방문자    113</span>
                        </div>
                        <div class="newArticles">
                            <span>새 게시물    2</span>
                            <img src="/static/images/common/new.png">
                        </div>
                        <div>
                            <span>일촌 신청    4</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#">내 미니홈피 바로가기</a>
                    </div>
                </div>
                <div class="menuminihompi">
                    <h2>미니홈피</h2>
                    <li><a href="#">전체보기</a></li>
                    <li><a href="#">미니미</a></li>
                    <li><a href="#">미니룸</a></li>
                    <li><a href="#">미니홈피 스킨</a></li>
                    <li><a href="#">메뉴 스킨</a></li>
                    <li><a href="#">글자 스킨</a></li>
                </div>
                <div class="menuBgm">
                    <h2>음반가게</h2>
                    <a href="#">BGM</a>
                </div>
                <div class="menuRecentItems">
                    <h2>최근 아이템</h2>
                    <div class="upArrow">
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                    <div class="recentItem">
                        <img src="/static/images/common/good.png">
                    </div>
                    <div class="downArrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </div>
            </div>
            <div class="contentContainer">
                <div class="itemTitle">
                    <h2>새로나왔어요 테스트</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>새로나왔어요 테스트</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>새로나왔어요 테스트</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>새로나왔어요 테스트</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                    <div class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartContainer">
                <div class="selectedItemMenu">
                    <div class="selectItem">
                        <i class="bi bi-check-square-fill"></i>
                        <span>선택한 아이템을</span>
                    </div>
                    <div class="itemBuyFinal">
                        <div class="itemGift">
                            <i class="bi bi-gift"></i>
                        </div>
                        <div class="itemCart">
                            <i class="bi bi-cart2"></i>
                        </div>
                        <div class="itemPurchase">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <h2>장바구니</h2>
                    <div class="upArrow">
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                    <div class="items">
                        <div class="item">
                            아이템1
                        </div>
                        <div class="item">
                            아이템2
                        </div>
                        <div class="item">
                            아이템3
                        </div>
                    </div>
                    <div class="downArrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="itemSum">
                        <div>
                            합계(1)
                        </div>
                        <div class="dotori">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                        </div>
                        <div>
                            000개
                        </div>
                    </div>
                    <div class="finalItemBuy">
                        <div class="itemGiftFinal">
                            <i class="bi bi-gift"></i>
                        </div>
                        <div class="itemPurchaseFinal">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script>
    // 선물함 메뉴 효과
    $(function () {
      $(".top-header-menu .tab").on("click", function () {
        $(".top-header-menu .tab").removeClass("active");
        $(this).addClass("active");
      });
    });
    </script>
</th:block>
</body>
</html>