<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head layout:fragment="styles">
    <!-- 선물가게 페이지 전용 스타일 -->
    <title layout:fragment="title">선물가게</title>
    <link rel="stylesheet" th:href="@{/static/css/home/giftShop.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div class="mainContainer">
        <div class="giftMenu">
            <nav>
                <ul class="top-header-menu">
                    <li class="tab active"><a href="#">선물가게 홈</a></li>
                    <li class="tab"><a href="#">베스트셀러</a></li>
                    <li class="tab"><a href="#">주간인기</a></li>
                    <li class="tab"><a href="#">선물함</a></li>
                </ul>
            </nav>
        </div>
        <div class="subMainContainer">
            <div class="menuContainer">
                <div class="user-panel" th:replace="/home/fragment/userPanel.html"></div>
                <div class="menuminihompi">
                    <h2>미니홈피</h2>
                    <ul class="menu-ul">
                        <li class="active">전체보기</li>
                        <li>미니미</li>
                        <li>미니룸</li>
                        <li>미니홈피 스킨</li>
                        <li>메뉴 스킨</li>
                        <li>글자 스킨</li>
                    </ul>
                </div>
                <div class="menuminihompi menuBgm">
                    <h2>음반가게</h2>
                    <ul class="menu-ul">
                        <li>BGM</li>
                    </ul>
                </div>
                <div class="menuRecentItems">
                    <h2>최근 아이템</h2>
                    <div class="recentItemWrap">
                    </div>
                    <div class="arrow" id="up-arrow">
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                    <div class="gift-swiper" id="recent-item-swiper">
                        <div class="swiper-wrapper">
                            <!-- TODO: 최근본아이템 데이더바인딩, onclick은 디버깅용이니 지워주세요  -->
                            <div class="recent-item-link swiper-slide">
                            </div>
                        </div>
                    </div>
                    <div class="arrow" id="down-arrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </div>
            </div>
            <div class="contentContainer">
                <div class="itemTitle">
                    <h2>새로나왔어요</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard" th:each="i : ${#numbers.sequence(1, 4)}">
                        <div class="itemImg">
                            <img>
                            <input class="itemCheckBox" type="checkbox">
                        </div>
                        <div class="itemDesc">
                            <span></span>
                            <h3></h3>
                            <input type="hidden">
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">1일</option>
                                    <option value="option2">3일</option>
                                    <option value="option3">7일</option>
                                    <option value="option4">30일</option>
                                    <option value="option5">90일</option>
                                    <option value="option6">365일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/icon/dotori.png">
                            </div>
                            <div class="price">

                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="xi-gift-o"></i>
                            </div>
                            <div class="itemCart">
                                <i class="xi-cart-o"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>인기 BGM</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard" th:each="i : ${#numbers.sequence(1, 4)}">
                        <div class="itemImg">
                            <img>
                            <input class="itemCheckBox" type="checkbox">
                        </div>
                        <div class="itemDesc">
                            <span></span>
                            <h3></h3>
                            <input type="hidden">
                        </div>
                        <div class="itemPricing">
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/icon/dotori.png">
                            </div>
                            <div class="price">

                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="xi-gift-o"></i>
                            </div>
                            <div class="itemCart">
                                <i class="xi-cart-o"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>주간 인기아이템</h2>
                </div>
                <div class="itemContainer">
                    <div class="itemCard" th:each="i : ${#numbers.sequence(1, 4)}">
                        <div class="itemImg">
                            <img>
                            <input class="itemCheckBox" type="checkbox">
                        </div>
                        <div class="itemDesc">
                            <span></span>
                            <h3></h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">1일</option>
                                    <option value="option2">3일</option>
                                    <option value="option3">7일</option>
                                    <option value="option4">30일</option>
                                    <option value="option5">90일</option>
                                    <option value="option6">365일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/icon/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="xi-gift-o"></i>
                            </div>
                            <div class="itemCart">
                                <i class="xi-cart-o"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartContainer">
                <div class="selectedItemMenu">
                    <div class="selectItem">
                        <i class="xi-check-square"></i>
                        <span>선택한 아이템을</span>
                    </div>
                    <div>
                        <ul class="selectItemUl">

                        </ul>
                    </div>
                    <div class="itemBuyFinal">
                        <div class="itemGift">
                            <i class="xi-gift-o"></i>
                        </div>
                        <div class="itemCart">
                            <i class="xi-cart-o"></i>
                        </div>
                        <div class="itemPurchase">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <h2>장바구니</h2>
                    <div class="item-up-arrow arrow" id="item-up-arrow">
                        <i class="xi-angle-up"></i>
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                    <div class="items">
                        <div id="item-swiper" class="gift-swiper">
                            <div class="swiper-wrapper">

                            </div>
                        </div>
                    </div>
                    <div class="item-down-arrow arrow" id="item-down-arrow">
                        <i class="xi-angle-down"></i>
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="itemSum">
                        <div id="cartCnt">

                        </div>
                        <div class="dotori">
                            <img class="dotori-icon" src="/static/images/common/icon/dotori.png">
                        </div>
                        <div id="cartSum">

                        </div>
                    </div>
                    <div class="finalItemBuy">
                        <div class="itemGiftFinal">
                            <i class="xi-gift-o"></i>
                        </div>
                        <div class="itemPurchaseFinal">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="giftShopModal">
            <div class="giftShopModalContent">
                <div class="giftModalTop">
                    <img src="/static/images/common/icon/close.png">
                </div>
                <div class="modalDescContainer">
                    <img class="modalItemImg">
                    <div class="modalDesc">
                        <span class="modalItemType"></span>
                        <h2></h2>
                        <p id="productDesc">아이템 설명</p>
                        <p id="modalItemDesc"></p>
                        <img class="dotori-icon" src="/static/images/common/icon/dotori.png">
                        <span id="modalDotori"></span>
                    </div>
                    <div class="modalBtn">
                        <button>선물하기</button>
                        <button>장바구니 담기</button>
                        <button>바로구입</button>
                    </div>
                </div>
                <div class="bgmLyricsWrap">
                    <span class="bgmLyrics"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 선물가게 페이지 전용 JS -->
<th:block layout:fragment="scripts">
    <script th:type="module" th:src="@{/static/js/home/giftShop.js}"></script>
    <script src="/static/js/minihompi/friendMessage.js"></script>
    <script src="/static/js/home/friendMain.js"></script>
</th:block>
</body>
</html>
