<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head>
    <title layout:fragment="title">선물가게</title>
    <!-- 선물가게 페이지 전용 스타일 -->
    <link rel="stylesheet" th:href="@{/static/css/giftShop.css}" layout:fragment="styles"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
          layout:fragment="styles"/>
    <th:block th:replace="common/layout/fragments/favicon :: favicon"></th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="mainContainer">
        <div class="giftMenu">
            <nav>
                <ul class="top-header-menu">
                    <li class="tab active"><a href="#">선물가게 홈</a></li>
                    <li class="tab"><a href="#">베스트셀러</a></li>
                    <li class="tab"><a href="#">주간인기</a></li>
                    <li class="tab"><a href="#">선물함</a></li>
                </ul>
            </nav>
        </div>
        <div class="subMainContainer">
            <div class="menuContainer">
                <div class="menuProfile">
                    <div class="top">
                        <div>
                            <span>보유 도토리</span>
                        </div>
                        <div class="dotori">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">720
                        </div>
                        <div class="topUp">
                            충전
                        </div>
                    </div>
                    <div class="userDesc">
                        <div class="userProfile">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                        </div>
                        <div class="userInfo">
                            <div class="userInfo1">
                                <span>홍길동</span>
                                <img src="/static/images/common/option.png">
                            </div>
                            <div class="user-info2-wrap">
                                <div class="userInfo2 space-between">
                                    <span>쪽지</span>
                                    <span class="bold">30</span>
                                </div>

                                <div class="userInfo3 space-between">
                                    <span>일촌ON</span>
                                    <span class="bold">30</span>
                                </div>
                            </div>
                            <div class="logout">
                                <a href >로그아웃</a>
                            </div>
                        </div>
                    </div>
                    <div class="hompiInfo">
                        <div class="space-between">
                            <span>오늘 방문자</span>
                            <span class="bold">30</span>
                            <div class="gift-shop-new-badge">
                                <img src="/static/images/common/new.png">
                            </div>
                        </div>
                        <div class="newArticles space-between">
                            <span>새 게시물</span>
                            <span class="bold" >30</span>
                            <div class="gift-shop-new-badge">
                                <img src="/static/images/common/new.png">
                            </div>
                        </div>
                        <div class="space-between">
                            <span>일촌 신청</span>
                            <span class="bold">30</span>
                            <div class="gift-shop-new-badge">
                                <img src="/static/images/common/new.png">
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#">내 미니홈피 바로가기</a>
                    </div>
                </div>
                <div class="menuminihompi">
                    <h2>미니홈피</h2>
                    <ul class="menu-ul">
                        <li><a href="#" class="active">전체보기</a></li>
                        <li><a href="#">미니미</a></li>
                        <li><a href="#">미니룸</a></li>
                        <li><a href="#">미니홈피 스킨</a></li>
                        <li><a href="#">메뉴 스킨</a></li>
                        <li><a href="#">글자 스킨</a></li>
                    </ul>
                </div>
                <div class="menuminihompi menuBgm">
                    <h2>음반가게</h2>
                    <ul class="menu-ul">
                        <a href="#">BGM</a>
                    </ul>
                </div>
                <div class="menuRecentItems">
                    <h2>최근 아이템</h2>
                    <div id="up-arrow" class="arrow">
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                            <div id="recent-item-swiper" class="swiper">
                                <div class="swiper-wrapper">
                                    <!-- TODO: 최근본아이템 데이더바인딩, onclick은 디버깅용이니 지워주세요  -->
                                    <div th:each="i : ${#numbers.sequence(1, 5)}" class="recent-item-link swiper-slide">
                                        <a onclick="console.log('아이템누름')" ><img src="/static/images/common/good.png" alt="상품명"></a>
                                        <p th:text="'아이템 이름'"></p>
                                        <button onclick="console.log('닫기누름')" id="delete-recent-item" class="delete-recent-item"><i class="xi-close-min"></i></button>
                                    </div>
                                </div>
                            </div>
                    <div id="down-arrow" class="arrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                </div>
            </div>
            <div class="contentContainer">
                <div class="itemTitle">
                    <h2>새로나왔어요</h2>
                </div>
                <div class="itemContainer">
                    <div th:each="i : ${#numbers.sequence(1, 4)}" class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>인기 BGM</h2>
                </div>
                <div class="itemContainer">
                    <div th:each="i : ${#numbers.sequence(1, 4)}" class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>주간 인기아이템</h2>
                </div>
                <div class="itemContainer">
                    <div th:each="i : ${#numbers.sequence(1, 4)}" class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="itemTitle">
                    <h2>새로나왔어요 테스트</h2>
                </div>
                <div class="itemContainer">
                    <div th:each="i : ${#numbers.sequence(1, 4)}" class="itemCard">
                        <div class="itemImg">
                            <img src="/static/images/common/good.png">
                        </div>
                        <div class="itemDesc">
                            <span>미니미test</span>
                            <h3>제목입니다test</h3>
                        </div>
                        <div class="itemPricing">
                            <div class="selectBox">
                                <select>
                                    <option value="option1">7일</option>
                                    <option value="option2">30일</option>
                                    <option value="option3">100일</option>
                                </select>
                            </div>
                            <div class="dotori">
                                <img class="dotori-icon" src="/static/images/common/dotori.png">
                            </div>
                            <div class="price">
                                000개
                            </div>
                        </div>
                        <div class="itemBuy">
                            <div class="itemGift">
                                <i class="bi bi-gift"></i>
                            </div>
                            <div class="itemCart">
                                <i class="bi bi-cart2"></i>
                            </div>
                            <div class="itemPurchase">
                                <span>구매하기</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartContainer">
                <div class="selectedItemMenu">
                    <div class="selectItem">
                        <i class="bi bi-check-square-fill"></i>
                        <span>선택한 아이템을</span>
                    </div>
                    <div class="itemBuyFinal">
                        <div class="itemGift">
                            <i class="bi bi-gift"></i>
                        </div>
                        <div class="itemCart">
                            <i class="bi bi-cart2"></i>
                        </div>
                        <div class="itemPurchase">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
                <div class="cart">
                    <h2>장바구니</h2>
                    <div id="item-up-arrow" class="item-up-arrow arrow">
                        <i class="bi bi-caret-up-fill"></i>
                    </div>
                    <div class="items">
                        <div id="item-swiper" class="swiper">
                            <div class="swiper-wrapper">
                                <div th:each="i : ${#numbers.sequence(1, 3)}" class="swiper-slide">
                                    <div><input type="checkbox" name="" id=""> <span>아이템종류</span></div>
                                    <p>이건아이템이름입니..</p>
                                    <div>
                                        <select name="" id="">
                                            <option>1일</option>
                                            <option>7일</option>
                                            <option>30일</option>
                                            <option>60일</option>
                                            <option>무제한</option>
                                        </select>
                                        <div>
                                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                                            <span>000</span> 개
                                        </div>
                                    </div>
                                </div>
                                <div th:each="i : ${#numbers.sequence(1, 3)}" class="swiper-slide">
                                    <div><input type="checkbox" name="" id=""> <span>아이템종류</span></div>
                                    <p>이건아이템이름입니..</p>
                                    <div>
                                        <select name="" id="">
                                            <option>1일</option>
                                            <option>7일</option>
                                            <option>30일</option>
                                            <option>60일</option>
                                            <option>무제한</option>
                                        </select>
                                        <div>
                                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                                            <span>000</span> 개
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="item-down-arrow" class="item-down-arrow arrow">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="itemSum">
                        <div>
                            합계(1)
                        </div>
                        <div class="dotori">
                            <img class="dotori-icon" src="/static/images/common/dotori.png">
                        </div>
                        <div>
                            000개
                        </div>
                    </div>
                    <div class="finalItemBuy">
                        <div class="itemGiftFinal">
                            <i class="bi bi-gift"></i>
                        </div>
                        <div class="itemPurchaseFinal">
                            <span>구매하기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script defer src="/static/js/home/giftShop.js"></script>
</th:block>
</body>
</html>