 <div class="btnContainer">
      <button class="listenBtn">듣기</button>
      <button class="backBgmBtn">배경음악 등록</button>
    </div>
    <div class="tableContainer">
      <table class="bgmTable">
        <tr class="tableLabel">
          <td class="bgmAllCheck"><input type="checkbox"></td>
            <td>번호</td>
            <td>곡명</td>
            <td>아티스트</td>
        </tr>
      </table>
    </div>
    <div class="searchContainer">
        <select class="searchSelect">
            <option>노래 제목</option>
            <option>가수명</option>
        </select>
        <input type="text" class="searchText">
        <button class="searchBtn">검색</button>
    </div>
    <div class="pageContainer">
        <button class="pagePrevBtn"><- 이전</button>
        <button>1</button>
        <button class="pageNextBtn">다음 -></button>
    </div>