<div class="folderContainer">
    <div id="folderTitle"></div>
    <hr>
    <div id="calender">
        <div id="folderWrap">
            <div id="folderSelectWrap">
                <button class="folderAddBtn"><img src="/static/images/common/addFolder.png"> 폴더 추가</button>
                <select class="statusSelect">
                    <option value="33">전체 공개</option>
                    <option value="32">일촌 공개</option>
                    <option value="31">나만 보기</option>
                </select>
            </div>
            <div class="folderNameWrap">
                <input type="text" class="folderInput" placeholder="폴더명을 입력해주세요">
                <button class="folderInputBtn">등록</button>
            </div>
        </div>
    </div>
</div>