.weather-container {
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.weather-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.weather-content img {
    width: 50px;
    height: 50px;
}

.weather-info p {
    margin: 5px 0;
    font-size: 14px;
}