.upload-album {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.post-header {
    height:40px;
}

.album-title {
    height:30px;
}

#albumTitle, #albumAvailStatus, #albumFolderId {
    height:30px;
}

#albumText {
    width: 599px;
    height: 89px;
}

#previewImg{
    height:100px;
    width:100px;
}

.upload-img {
    position: relative;
    display: inline-block;
}

.content-container {
    height: 200px;
}

#uploadPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.upload-img {
    height:100px;
    width:100px;
}

.upload-img:hover #uploadPhoto {
    display: block;
}

#albumStatusSelect, #albumFolderNameWrap{
    display: none;
}

.albumFolderName {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#albumFolderWrap{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
}

#albumFolderWrap button{
    border: none;
}

.albumFolderInputBtn{
    background: orange;
    height: 23px;
    border-radius: 5px;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:7px;
}

.comment-user-content {
    display: flex;
    flex-direction: row;
    gap:30px;
}

.album-btn{
    border: 1px solid black;
    border-radius:5px;
}

.comment-date-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
    padding-top: 10px;
}

.comment-info {
    margin: 10px auto;
    padding: 10px;
}

#albumAvailStatus {
    margin-left: 10px;
}

.commentContentEdit {
    width:500px;
}
