#subViewBgm{
    margin-left: 30px;
    margin-top: 3px;
    background-color: #D9D9D9;
    height: 55px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#bgmTitleWrap{
    background-color: #595959;
    height: 21px;
    width: 170px;
    margin-top: 8px;
}

#bgmTitleWrap, #bgmPlayerWrap{
    display: flex;
    align-items: center;
}

#subViewBgm button{
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
}

#resumeBtn{
    margin-left: 5px;
}

#resumeBtn img{
    width: 20px;
    margin-right:8px;
}

#bgmTitle{
    color: white;
    font-size: 9px;
}

#bgmPlayerWrap{
    width: 170px;
    height: 15px;
    column-gap: 5px;
}

#bgmPlayerWrap img{
    box-sizing: content-box;
    width: auto;
    height: 8px;
}

#pauseBtn{
    margin-left: 5px;
}

#volumeSlider{
    width: 50px;
}

#trackContainer{
    margin-bottom: 5px;
    display: contents;
}

#trackContainer button{
    width: 23px;
    height: 10px;
    background-color: #595959;
    border-radius: 3px;
    color: #fff;
    justify-content: center;
    font-size: 7px;
    font-weight: bold;
}

#trackListWrap{
    height: 300px;
    background-color: #fff;
    display: none;
    margin-left: 30px;
    text-align: center;
}

#trackListWrap h1{
    padding-top: 5px;
}

#trackListWrap hr{
    border-top: 1px solid #000;
    display: block;
}

#trackListWrap p{
    text-align: left;
}

