#footer{
    width:100%;
    overflow:hidden;
    padding:20px 30px;
    box-sizing:border-box;
    position:relative;
    bottom: 0;
}

#footer div.footerWrap{
    max-width:1280px;
    margin:0 auto;
}

#footer div.footerWrap div{
    max-width:1280px;
    height:40px;
    margin:0 auto;
    border-top:1px solid var(--color-gray);
/*    border-bottom:1px solid var(--color-gray);*/

}

#footer div.footerWrap p{
    text-align:center;
    font-size:14px;
}

#footer div.footerWrap span{
    color:var(--color-gray);
    font-size:18px;
    font-weight:bold;
}

#footer div.footerWrap span.basic{color:var(--color-basic);}