/*
 css 수정 중 쓰지 않게 된
 구버전 css 모아두는 파일입니다.
 추후 삭제 요망.
*/

/* reset.css */
input, textarea, select, button{font-size:1rem; font-family: 'NotoKR-Regular', "Noto Sans KR",  "돋음", dotum, sans-serif, Tahoma; color:#333;}
select {
    border:1px solid #ccc;
    -webkit-appearance:none; /* 크롬 화살표 없애기 */
    -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
    appearance:none; /* 화살표 없애기 */
    background: #fff url('../../images/common/select-arrow-down.png') no-repeat top -8px right 3px;
    height: 20px;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    font-size: 1rem;
    letter-spacing: -1px;
}
/* cart.css */
