/* 마요가... 공통 css 정리중 */



/* 공통 색상 */
/* color: var(--color-basic); 처럼 사용 */
:root {
	--color-basic: #FF8000;
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-red: #ff4f4f;
	--color-green: #00a336d9;
	--color-blue: #455582;
    --color-lgray: #DFE0DF;
    --color-ngray: #9a9a9a;
	--color-gray: #595959;
	--color-dgray: #333;
	--color-brown: #534439;
	--color-lbrown: #BBA89C;
	--color-wine: #670000;
}


body { color: var(--color-black)}
/* 컨테이너 */


/* wrap, container */

/* 인풋, 버튼, 어쩌구 스타일링 */
input[type="checkbox"]  {
    width: 16px;
    height: 16px;
}