@charset "utf-8";

.post-container {
    width: 600px;
    margin: 10px auto;
    border: 1px solid #C2C2C2;
    background-color: #fff;
    height: 230px;
}

#diary textarea{
    width: 600px;
    height: 210px;
}

.post-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ABABAB;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #EDEDED;

}

.post-header h2 {
    font-size: 18px;
    margin: 0;
    line-height: 25px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.post-register {
    display: flex;
    align-items: center;
    justify-content: space-between;;
}

.post-register p{
    color: blue;
    margin-left: 15px;
}

.post-register #registerBtn {
    width: 60px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 25px;
    margin-right: 15px;
}

#registerBtn{
    display: none;
}

.post-info {
    margin-top: 10px;
}

.post-info span {
    font-size: 14px;
    color: #666;
}

.post-content img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.post-content p {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}

.post-actions {
    display: none;
    justify-content: space-between;
}

.post-actions button {
    width: 60px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    height: 25px;
}

.delete-btn {
    background-color: red;
    color: white;
    border-radius: 5px;
    height: 25px;
}

.edit-btn {
    background-color: gray;
    color: white;
    border-radius: 5px;
    height: 25px;
}

.comment-section {
    font-size: 14px;
}

.comment-section:after {
    display: block;
    clear: both;
    content: "";
}

.comment-section #comment-name {
    float: left;
    width: 15%;
}

.comment-section input[type="text"] {
    width: 65%;
    float: left;
    padding: 5px;
    height: 25px;
    margin-left: 15px;
}

.comment-section button {
    float: right;
    width: 60px;
    height: 25px;
    background-color: #3700FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}


.comments-list p {
    font-size: 14px;
    color: #333;
}

.comments-list span {
    font-size: 12px;
    color: #999;
}

.comments-list .commentUser {
    color: #1C97CC;
    font-weight: bold;
    display: inline-block;
}

.star-rating {
    color: orange; /* 별 색상 */
    font-size: 16px; /* 별 크기 */
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.post-bottom {
    padding: 0 10px;
}

.day-container {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #C2C2C2;
    background-color: #fff;
    border-radius: 5px;
}

table #day {
    width: 100%;
    border: none;
}

#day th, #day td {
    border: none;
    padding-left: 20px;
    text-align: center;
}

.diaryCommentSay th, .diaryCommentSay td{
    border: none;
    padding-left: 2px;
    text-align: center;
}

#diary textarea, .diaryContent{
    text-align: center;
    white-space: pre-wrap;
}

hr{
    display: block;
}

button{
    background: none;
}

#calender img{
    width: 12px;
    margin-bottom: 3px;
}

.diarySelectWrap{
    text-align: center;
}

input[type="text"].diaryTitle{
    border-radius: 10px;
    height: 20px;
}

.diarySelectWrap select{
    border-radius: 10px;
}

.insertDate{
    color: #ccc;
}

.writerName{
    color: blue;
}
.diaryCommentSay {
    background: #eee;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px 0;
}

.diaryCommentSay table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

.diaryCommentSay table tbody tr td input {
    width: 98%;
    height: 26px;
    float: left;
}

.diaryCommentSay table tbody tr td p {
    text-align: center;
}

.diaryCommentSay table tbody tr td button {
    height: 26px;
    width: 50px;
    color: #333;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background: #fff;
    float: right;
}

.diaryCommentNo{
    display: none;
}

#day td.active{
    font-weight: bold;
}

/*게시판 리스트 부분*/
.dFlex { display: flex; }

.miniHP-ListContainer { 
    height: auto; 
    margin: 30px 0 10px 0; 
    border-top: 1px solid red; 
    border-bottom: 1px solid red; 
    padding: 5px 0;
}

.miniHP-PostTitle { border-bottom: 1px solid black; padding: 2px 0;  align-items: center; text-align: center}
.miniHP-Wrap .miniHP-ListChkbox,
.miniHP-Wrap .miniHP-ListTitleChkbox
{ width: 60px; }
.miniHP-Wrap .miniHP-PostTitleName { width: 300px; }
.miniHP-Wrap .miniHP-PostedBy { width: 60px; }
.miniHP-Wrap .miniHP-PostDate { width: 75px; }
.miniHP-Wrap .miniHP-PostViewCount { width: 80px; text-align: center;}

.miniHP-PostArea { padding: 2px 0; align-items: center; }

.miniHP-PostArea:hover {
    cursor: pointer;
    color: orange;
}

/*페이지네이션 관련 css*/
#pagination {
    position: relative;
    text-align: center;
    /*margin-top: 5px;*/
}

#pagination button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnTopArea {
    padding: 5px 20px;
    justify-content: space-between;
}

/*#pagination button.chkDeleteBtn {
    position: absolute;
    left: 0;
}*/

#pagination button.chkDeleteBtn,
.btn.deleteMsg {
    border-color: var(--color-wine);
    background-color: var(--color-wine);
    color: var(--color-white);

    &:hover {
        border-color: var(--color-red);
        background-color: var(--color-red);
    }
}

/*#pagination button.WriterBoard {
    position: absolute;
    right: 0;
}*/

#pagination button.WriterBoard {
    border-color: var(--color-wine);
    background-color: var(--color-wine);
    color: var(--color-white);

    &:hover {
        border-color: var(--color-red);
        background-color: var(--color-red);
    }
}


.buttonWrap {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#pagination button:disabled {
    background: var(--color-lgray);
    cursor: not-allowed;
}

/* 게시물 상세보기 view 관련 */
.miniHP-boardView .boardView-Title {
    font-size: 20px;
    font-weight: bold;
}

.miniHP-boardView button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boardView-header {
    justify-content: space-between;
    padding: 5px 10px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 10px 0;
}

.boardView-byName {
    color: blue;
}

.boardView-ContentArea {
    width: 300px;
    padding: 20px;
}
.boardView-btnArea {
    padding: 5px 10px;
    margin: 10px 0; 
    border-top: 1px solid #000000;
    
}

.boardView-btnArea button.viewDeleteBtn,
.boardView-btnArea button.viewToListBtn,
.boardView-btnArea button.viewUpdateBtn {
    border-color: var(--color-wine);
    background-color: var(--color-wine);
    color: var(--color-white);

    &:hover {
        border-color: var(--color-red);
        background-color: var(--color-red);
    }
}