.select {
    appearance: auto;
}
.rightNotation {
    text-align: right;
    padding-right: 0;
}
.leftNotation {
    text-align: left;
    padding-right: 0;
}

.checkMatch {
    display:none;
    color:red;
}

.checkDuplicate {
    background-color: var(--color-basic);
    color: white;
}

#confirm1Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#confirm1Wrap input {
    width: 15px;
}