.select {
    appearance: auto;
}
.rightNotation {
    padding-right: 20px;
    box-sizing: border-box;
}

.checkDuplicate {
    background-color: var(--color-basic);
    color: white;
}
.checkedDuplicate {
    background-color: var(--color-gray);
    color: white;
}

#birthSelectList select {
    max-height: 250px;
    position: relative;
    z-index: 1;
}

#confirm1Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#confirm1Wrap input {
    width: 15px;
}