@charset "utf-8";

/*���κ���� s*/
#wrap {
    background: #A4A5A4;
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-x: hidden;
    box-sizing: border-box;
}

#mainWrap {
    background: #ADCFDC;
    border-radius: 10px;
    width: calc(100% - 230px);
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

#mainBorder {
    border: 2px dotted #fff;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

#mainWrapBackground {
    position: relative;
    background: #F2F2F2;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px 10px 10px 10px;
}

#mainWrapBackground::after {
    content: "";
    clear: both;
    display: block;
}

/*���κ���� e*/

/*���κ���� ����Ʈ s*/
#leftContainer {
    width: 24%;
    float: left;
}

#leftContainer #todayWrap {
}

#leftContainer #todayWrap .todayUl {
    text-align: center;
}

#leftContainer #todayWrap .todayUl li {
    display: inline-block;
}

#leftContainer #todayWrap .todayUl .today {
    font-size: 12px;
}

#leftContainer #todayWrap .todayUl .today span {
    color: #FFAE02;
    font-weight: bold;
    font-size: 12px;
}

#leftContainer #todayWrap .todayUl .total {
    font-size: 12px;
}

#leftContainer #todayWrap .todayUl .total span {
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

#leftContainer #leftWrap {
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    box-sizing: border-box;
    background: #fff;
    margin-top: 10px;
    height: 500px;
}

#leftContainer #leftWrap #leftTop {
    padding: 10px;
    box-sizing: border-box;
}

#leftContainer #leftWrap #leftTop .mainImg {
    text-align: center;
}

#leftContainer #leftWrap #leftTop .mainImg img {
    width: 180px;
    height: 200px;
}

#leftContainer #leftWrap #leftTop .introText {
    text-align: center;
}

#leftContainer #leftWrap #leftTop .introText p {
    text-align: center;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
}

#leftContainer #leftWrap #leftBottom {
    padding: 0 20px;
    box-sizing: border-box;
}

#leftContainer #leftWrap #leftBottom #historyWrap {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul {
    overflow: hidden;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul li {
    float: left;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul li.arrowSpan span {
    display: inline-block;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul li.arrowSpan span:first-child {
    margin-right: -6px;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul li:last-child {
    float: right;
}

#leftContainer #leftWrap #leftBottom #historyWrap ul li span {
    font-size: 12px;
}

#leftContainer #leftWrap #leftBottom #nameWrap {
    margin-bottom: 5px;
}

#leftContainer #leftWrap #leftBottom #nameWrap .name {
    font-size: 14px;
    font-weight: bold;
    color: #1C97CC;
    cursor: pointer;

}

#leftContainer #leftWrap #leftBottom #nameWrap #name-droupdown {
    display: none;
    position: absolute;
    width: 10%;
    background-color: white;
    border: 1px solid black;
    border-bottom: none;
    z-index: 1;
}

#leftContainer #leftWrap #leftBottom #nameWrap #name-droupdown a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    display: block;
    padding-left: 5px;
    font-size: 14px;
}

#leftContainer #leftWrap #leftBottom #nameWrap #name-droupdown a:hover {
    background-color: black;
    color: white;
}

#leftContainer #leftWrap #leftBottom #nameWrap .nameSymbol {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
}

#leftContainer #leftWrap #leftBottom #nameWrap .nameEmail {
    display: inline-block;
    font-weight: lighter;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}


#leftContainer #leftWrap #leftBottom #padoWrap {
}

#leftContainer #leftWrap #leftBottom #padoWrap select {
    width: 100%;
    font-size: 14px;
    height: 25px;
    margin-bottom: 10px;
}


/*���κ���� ����Ʈ e*/

/**오른쪽 서브뷰 관련**/
#subViewContainer {
    width: 220px;
    float: right;
}

#subViewContainer #subViewWrap {
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    background: #fff;
    margin-left: 30px;
    height: 230px;
}

#subViewContainer #subViewWrap #subViewTop {
    box-sizing: border-box;
}

.btn.purple {
    box-shadow: 0px 4px 0px #AD83A8;
}

.btn.purple, .btn-two.purple {
    background-color: #cb99c5;
}

.btn.block, .btn-two.block, .btn-gradient.block, .btn-effect.block {
    width: 100%;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

a[class*="btn"] {
    text-decoration: none;
}

.btn {
    position: relative;
    border: 0;
    display: inline-block;
    text-align: center;
    color: white;
}

.btn, .btn-two {
    margin: 9px;
}

* {
    box-sizing: border-box;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}

.progress-bar .progressAt {
    width: 72%;
    height: 10px;
    padding: 0;
    text-align: center;
    background-color: #0e69e2;
    color: #111;
}

.progress-bar .progressFa {
    width: 90%;
    height: 10px;
    padding: 0;
    text-align: center;
    background-color: #efdc20;
    color: #111;
}

.progress-bar .progressFr {
    width: 30%;
    height: 10px;
    padding: 0;
    text-align: center;
    background-color: #f82aff;
    color: #111;
}

/*���κ���� ����Ʈ s*/
#rightContainer {
    width: 75%;
    float: right;
    margin-left: 1%;
    position: relative;
}

#rightContainer #gnb {
    position: absolute;
    top: 55px;
    right: -61px;
    z-index: 10
}

#rightContainer #gnb ul {
}

#rightContainer #gnb ul li {
    border: 1px solid #075271;
    color: #fff;
    width: 60px;
    height: 30px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
    background: #228CB3;
    border-radius: 0px 5px 5px 0px;
}

#rightContainer #gnb ul li.on {
    border: 1px solid #617680;
    color: #333;
    background: #fff;
    border-left: 0;
}

#rightContainer #gnb ul li a {
    display: block;
}

#rightContainer #rightTopWrap {
}

#rightContainer #rightTopWrap .rightTopMain {
    overflow: hidden;
}

#rightContainer #rightTopWrap .rightTopMain > li.mainTitle {
    font-size: 16px;
    font-weight: bold;
}

#rightContainer #rightTopWrap .rightTopMain > li {
    float: left;
}

#rightContainer #rightTopWrap .rightTopMain > li:last-child {
    float: right;
}

#rightContainer #rightTopWrap .rightTopMain > li > ul {
    overflow: hidden
}

#rightContainer #rightTopWrap .rightTopMain > li > ul > li {
    float: left;
}

#rightContainer #rightTopWrap .rightTopMain > li > ul > li button {
    font-size: 12px;
    font-weight: lighter;
    margin: 1px;
}

#mainTitleInput {
    width: 350px;
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
    border: none;
    height: 18px;
    background-color: #f9f9f9;
    outline: none;
}

#titleBtn.save-mode {
    font-size: 12px;
    font-weight: lighter;
    background-color: orange;
    color: white;
    border: none;
}

#rightWrapBox {
    position: relative;
    z-index: 9;
    padding-right: 20px;
    background: #fff;
    border: 1px solid #C2C2C2;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: 5px;
}

#rightWrap {
    box-sizing: border-box;
    background: #fff;
    height: 481px;
    border-radius: 10px;
    padding: 0px 30px 15px 30px;
    overflow-y: auto;
}

#rightWrap .rightMainWrap {
}

#rightWrap .rightMainWrap .rightMainTop {
    overflow: hidden;
}

#rightWrap .rightMainWrap .rightMainTop > p {
    font-size: 14px;
    font-weight: bold
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft {
    float: left;
    width: 49%;
    height: 96px;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul {
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul li {
    overflow: hidden;
    margin-top: 9.5px;
    margin-bottom: 11px;
    border-bottom: 1px dotted #ccc;
    height: 21px;
    line-height: 21px;
    padding: 0;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul li p {
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul li p.title {
    float: left;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul li p.title a {
    font-size: 14px;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopLeft ul li p.time {
    float: right;
    font-size: 14px;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopRight {
    float: right;
    width: 49%;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopRight ul {
    overflow: hidden;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopRight ul li {
    border-bottom: 1px dotted #ccc;
    box-sizing: border-box;
    margin: 9.5px 0px 2px;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopRight ul li a {
    font-size: 14px;
}

#rightWrap .rightMainWrap .rightMainTop .rightMainTopRight ul li span {
    color: #1613F2;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

.topMenu {
    float: right;
}

.count {
    color: orange !important;
    margin: 0 !important;
}

#rightWrap .rightMainWrap .rightMain {
}

#rightWrap .rightMainWrap .rightMain ul {
    overflow: hidden;
    margin-top: 10px;
}

#rightWrap .rightMainWrap .rightMain ul li {
    fLoat: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #1C97CC;
}

#rightWrap .rightMainWrap .rightMain ul li.on {
    color: #1C97CC;
    font-weight: bold;
}

#rightWrap .rightMainWrap .rightMain ul li:after {
    content: "|";
    display: inline-block;
    margin: 0 5px;
    color: #333;
    font-weight: normal;
}

#rightWrap .rightMainWrap .rightMain ul li:last-child:after {
    display: none
}

#rightWrap .rightMainWrap .rightMain .miniRoom {
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box
}

#rightWrap .rightMainWrap .rightMain .miniRoom .human {
    position: absolute;
    top: 50%;
    left: 46%;
    width: 50px;
}

#rightWrap .rightMainWrap .rightMain .miniRoom .talk {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    background: #333;
    color: #fff
}

#rightWrap .rightMainWrap .rightMain .miniRoom .talk:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #333;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

#rightWrap .rightMainWrap .rightMainBottom {
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay {
    background: #eee;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px 0;
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table {
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody {
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody tr {
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody tr td {
    vertical-align: middle;
    text-align: center;
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody tr td input {
    width: 98%;
    height: 26px;
    float: left;
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody tr td p {
    text-align: center;
}

#rightWrap .rightMainWrap .rightMainBottom .friendSay table tbody tr td button {
    height: 26px;
    width: 50px;
    color: #333;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background: #fff;
    float: right;
}

.newImg {
    display: inline-block;
    float: right;
}

.newImg img {
    width: 15px;
    height: 15px;
}

.deleteImg {
    display: inline-block;
    float: right;
}

.deleteImg img {
    width: 17px;
    height: 15px;
}

.editSet {
    float: right;
    font-weight: bold;
    cursor: pointer;

}

.editImg {
    display: inline-block;
    float: left;
    margin-right: 6px;
}

.editImg img {
    width: 15px;
    height: 15px;
}


#newImgHidden {
    visibility: hidden;
}

#mood {
    margin-top: 10px;
    box-sizing: border-box;
}

#mood select {
    all: initial;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    text-align: center;
    width: 80%;
    font-size: 12px;
    height: 20px;
    margin: 0 auto;
    display: flex;

    color: #444;
    background-color: #fff;

    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

#mood select:hover {
    border-color: #888;
}

#mood select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px orange;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

#rightWrap .rightMainWrap .rightMainBottom .commentList {
}

#rightWrap .rightMainWrap .rightMainBottom .commentList li {
    list-style: none;
}

#rightWrap .rightMainWrap .rightMainBottom .commentList li span.comment {
}

#rightWrap .rightMainWrap .rightMainBottom .commentList li span.star {
}

#rightWrap .rightMainWrap .rightMainBottom .commentList li span.star span.nickName {
    cursor: pointer;
}

#rightWrap .rightMainWrap .rightMainBottom .commentList li span.star span.todayDate {
    color: #ccc
}

/*���κ���� ����Ʈ e*/


/*���� ������ s*/
#spring {
}

#spring ul {
}

#spring ul li {
    position: relative;
    z-index: 99;
    width: 30px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: linear-gradient(to right, #ddd, #fff);
    margin-bottom: 20px;
}

.spring1 {
    position: absolute;
    top: 190px;
    left: 224px;
}

.spring2 {
    position: absolute;
    top: 400px;
    left: 224px;
}

#subVieMain {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 10px;
    border: none;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #eaeaea;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    border-radius: 5px;
}

#ative::-webkit-progress-value {
    background-color: red;
}

#ative::-moz-progress-bar {
    background-color: red;
    border-radius: 5px;
}

#famous::-webkit-progress-value {
    background-color: green;
}

#famous::-moz-progress-bar {
    background-color: green;
    border-radius: 5px;
}

#frandly::-webkit-progress-value {
    background-color: navy;
}

#frandly::-moz-progress-bar {
    background-color: navy;
    border-radius: 5px;
}

#lovely::-webkit-progress-value {
    background-color: deeppink;
}

#lovely::-moz-progress-bar {
    background-color: deeppink;
    border-radius: 5px;
}

#sensertive::-webkit-progress-value {
    background-color: yellow;
}

#sensertive::-moz-progress-bar {
    background-color: yellow;
    border-radius: 5px;
}


