<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/common/layout/layout}">
<head layout:fragment="styles">
	<!-- 메인 페이지 전용 스타일 -->
	<title layout:fragment="title">ABOUT-US</title>
	<link rel="stylesheet" th:href="@{/static/css/aboutus.css}" />
</head>

 <body>
	<div layout:fragment="content">
		<!--메인 시작-->
		<div id="container">
			<div class="containerWrap">
			    <div class="description-container">
					<div class="minimi-all">
						<img src="" alt="# 미니룸에 미니미 모인 사진" class="big-photo">
					</div>
                    <div class="description">
						<h1>Team. WannabeDev</h1>
						<h3>Since. 2025. 2. 24 ~</h3>
						<p>Team.WannabeDav는 개발자가 되고 싶은 취준생과 성장하고 싶은 주니어 개발자들이 함께하는 자기 계발 모임 '개발자가 되고 싶다'에서 시작된 프로젝트입니다.
							<br/><br/>여기는 싸이월드 프로젝트에 대한 글이 들어갑니다. 제가 해결하려고 했지만 아무래도 대왕님한테 맡겨야겠습니다. 그럴듯한 말이 뭐가 있을까요? 나중에 까먹고 수정 안하면 큰일나니까 노트에 적어놔야겠습니다.</p>
					</div>
				</div>
		        <div class="introduce-member">
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
						</div>
					</div>
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
							<img src="./images/coffee.png" alt="" class="icon">
						</div>
					</div>
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
							<img src="./images/coffee.png" alt="" class="icon">
						</div>
					</div>
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
							<img src="./images/coffee.png" alt="" class="icon">
						</div>
					</div>
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
							<img src="./images/coffee.png" alt="" class="icon">
						</div>
					</div>
					<div class="card">
						<img src="" alt="#각자 미니미 사진" class="photo">
						<h1>이름(닉네임)</h1>
						<p>여기에 개발이 들어갑니다. 역할을 넣어도 좋고 개별적으로 소개말을 적어도 좋은데 3줄 정도만</p>
						<div class="icon-collector">
							<img src="./images/git.png" alt="" class="icon">
							<img src="./images/mail.png" alt="" class="icon">
							<img src="./images/coffee.png" alt="" class="icon">
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!--메인 끝-->
	</div>
 </body>
</html>


