<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>onlineMain</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/onlineStyle.css">
    <link rel="stylesheet" href="/static/css/weather.css">
     <link rel="stylesheet" href="/static/css/movie.css">
     <link rel="stylesheet" href="/static/css/common/common.css">
    <link rel="stylesheet" href="/static/css/imageSlide.css">

    <link href="http://cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
</head>
<body>
<div id="wrap">
    <!--헤더 시작-->
    <th:block th:include="/common/layout/fragments/header :: header"></th:block>
    <!--헤더 끝-->

    <!--모달 테스트-->
    <th:block th:include="/home/fragment/findIdAndPwInclude :: myModal"></th:block>
    <!--모달 끝-->

    <!--메인 시작-->
    <div id="container">
        <div class="containerWrap">
            <div class="mainTop">
                <!--login s-->
                <div class="mainTopLeft">
                    <div class="loginWrap noLogin">
                        <th:block th:include="/home/fragment/noLoginInclude :: noLoginFragment"></th:block>
                    </div>
                    <div th:replace="/common/layout/fragments/yesLoginInclude :: yesLoginForm"></div>
                </div>
                <!--login e-->
                <div class="mainTopCenter">
                    <!--메인슬라이더-->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">

                           <!--불러오기-->

                        </div>
                        <div class="swiper-button-next">&rtrif;</div>
                        <div class="swiper-button-prev">&ltrif;</div>
                        <div class="swiper-pagination"></div>
                        <div class="autoplay-progress" style="display: none;">
                            <svg viewBox="0 0 48 48">
                                <circle cx="24" cy="24" r="20"></circle>
                            </svg>
                        <span></span>
                        </div>
                    </div>
                </div>
                <div class="mainTopRight">
                    <div class="weather-container">
                        <h3 id="location">날씨 정보</h3>
                        <div class="weather-content">
                            <img id="weatherIcon" src="" alt="날씨 아이콘">
                            <div class="weather-info">
                                <p>현재 온도: <span id="temperature">- °C</span></p>
                                <p>강수량: <span id="rain">- %</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainBot">
                <div class="mainBotLeft">
                    <div>
                        <p class="mainTitleText">신규출시아이템</p>
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="20%">
                                <col width="*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td class="num">1</td>
                                <td><img src="/static/images/common/minimi/exNewItemImage2.png"/></td>
                                <td>소복입은 여자 구미호</td>
                            </tr>
                            <tr>
                                <td class="num">2</td>
                                <td><img src="/static/images/common/minimi/exNewItemImage3.png"/></td>
                                <td>붉은 승복의 승려</td>
                            </tr>
                            <tr>
                                <td class="num">3</td>
                                <td><img src="/static/images/common/minimi/exNewItemImage4.png"/></td>
                                <td>우리들의 소망 피터팬</td>
                            </tr>
                            <tr>
                                <td class="num">4</td>
                                <td><img src="/static/images/common/minimi/exNewItemImage4.png"/></td>
                                <td>우리들의 소망 피터팬</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mainBotCenter">
                    <div class="top">
                        <p class="mainTitleText">인기 급상승 유저 <span>전일 기준 방문자 수 Top 10</span></p>
                        <ul class="favoriteListWrap">
                            <li>
                                <ul class="favoriteList favoriteList1">
                                    <li>
                                        <div class="faNum">1
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">2
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">3
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">4
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">5
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="favoriteList favoriteList2">
                                    <li>
                                        <div class="faNum">6</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">7</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">8</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">9</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">10</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="bot">
                        <p class="mainTitleText">실시간뉴스</p>
                        <ul id="newsList"> </ul> <!-- 동적으로 생성 -->
                    </div>
                </div>
                <div class="mainBotRight">
                    <div class="top">
                        <p class="mainTitleText">오늘의 운세</p>
                        <div class="todayLuckyFrame">
                            <p class="todayLucky"></p>
                        </div>
                    </div>
                    <div class="bot">
                        <p class="movie">영화추천</p>
                        <span class="movie_todayMovie">

                        </span>

                        <div  class="movieWrapper" id="movieWrapper">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--메인 끝-->

    <!-- 로딩 스피너 -->
    <th:block th:replace="common/layout/fragments/loading :: loadingSpinner"/>

    <!--푸터 시작-->
    <th:block th:include="/common/layout/fragments/footer :: footer"></th:block>
    <!--푸터 끝-->
    <script src="/static/js/home/mainHome.js"></script>
    <script src="/static/js/findIdAndPw.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</div>

</body>
</html>