<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head layout:fragment="styles">
    <!-- 메인 페이지 전용 스타일 -->
    <title layout:fragment="title">WANNABE</title>
    <link rel="stylesheet" th:href="@{/static/css/home/main.css}" />
</head>
<body>
<div layout:fragment="content">
    <!-- 메인 시작 -->
    <div id="container" class="mainContainer">
        <!-- 스와이프 시작 -->
        <div class="mainCenterTop">
            <div class="swiper">
                <div class="swiper-wrapper"></div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress" style="display: none;">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </div>
        <!--스와이프 끝-->
        <!-- 메인 컨테이너 시작 -->
        <div class="containerWrap">
            <!-- 좌측 영역 -->
            <div class="mainLeft">
                <div class="mainLeftTop" th:replace="/home/fragment/userPanel.html"></div>
                <div class="mainLeftBot">
                    <div class="titleTextWrap">
                        <p class="mainTitleText">
                            신규출시아이템
                        </p>
                        <div class="refreshText">
                            <div class="reloadIcon"></div>
                            <p>새로고침</p>
                        </div>
                    </div>
                    <div class="newItemWrap">
                        <div id="category-menu" class="categoryList">
                            <button id="category-01" class="categoryBtn active">미니미</button>
                            <button id="category-10" class="categoryBtn">일러스트</button>
                            <button id="category-02" class="categoryBtn">미니룸</button>
                        </div>
                    </div>
                    
                    <!-- 상품 리스트  -->
                    <div id="product-container" class="productContainer"></div>
                </div>
            </div>
            <!-- 좌측 영역 끝 -->
            <!-- 중앙 영역 -->
            <div class="mainCenter">
                <!--급 상승 유저-->
                <div class="topUserWrap">
                    <div class="topUserTitle">
                        <p class="mainTitleText">인기 급상승 유저</p>
                        <p class="infoText">전일 기준 방문자 수 Top 10</p>
                    </div>
                    <ul class="favoriteListWrap">
                        <li>
                            <ul class="favoriteList favoriteList1">
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">1</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">2</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">3</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">4</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">5</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                            <span><img src="/static/images/common/icon/star.png"></span>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="favoriteList favoriteList2">
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">6</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">7</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">8</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">9</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                                <li class="favoriteItem">
                                    <div class="rankWrap">
                                        <span class="rank">10</span>
                                        <div class="faNum">
                                            <div class="logoFace">; )</div>
                                        </div>
                                    </div>
                                    <span class="name"></span>
                                    <div class="faText">
                                        <div class="todayWrap">
                                            <span class="today">TODAY</span>
                                            <span class="todayNum"></span>
                                        </div>
                                        <img src="/static/images/common/icon/icon_home.svg"/>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- 뉴스 영역 -->
                <div class="newsWrap">
                    <p class="mainTitleText">실시간뉴스</p>
                    <ul id="newsList" class="newsList"></ul>
                </div>
                <!-- 뉴스 영역 끝-->
            </div>
            <!-- 중앙 영역 끝 -->
            <!-- 오른쪽 영역 -->
            <div class="mainRight">
                <div class="mainTopRight">
                    <!-- 날씨 영역 시작 -->
                    <div class="weather-container">
                        <div class="weather-content">
                            <div class="weather-left">
                                <img id="weatherIcon" src="" alt="날씨 아이콘">
                            </div>
                            <div class="weather-info">
                                <div>
                                    <p id="location" class="location"></p>
                                    <p class="weather-text">
                                        <span id="weather-text"></span>
                                        <span id="rain"></span>
                                    </p>
                                </div>
                                <p class="temp">
                                    <span id="temperature"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- 날씨 영역 끝 -->
                </div>
                <!-- 오늘의 운세 영역 시작 -->
                <div class="todayLucyWrap">
                    <p class="mainTitleText">오늘의 운세 🍀</p>
                    <div class="todayLuckyFrame">
                        <p id="todayLucky" class="todayLucky"></p>
                    </div>
                </div>
                <!-- 오늘의 운세 영역 끝 -->
                <!-- 영화 추천 영역 시작 -->
                <div class="movieWrap">
                    <p class="mainTitleText">영화 추천</p>
                    <div id="movieWrapper" class="movieWrapper"></div>
                </div>
                <!-- 영화 추천 영역 끝 -->
            </div>
            <!-- 오른쪽 영역 끝 -->
        </div>
        <!-- 메인 컨테이너 끝 -->
    </div>
    <!-- 메인 끝 -->
</div>
<!-- 메인 페이지 전용 JS -->
<th:block layout:fragment="scripts">
    <script th:type="module" th:src="@{/static/js/ptr/main-new.js}"></script>
    <script th:src="@{/static/js/home/popupMessage.js}"></script>
    <script src="/static/js/home/topTenUser.js"></script>
</th:block>
</body>
</html>
