<div class="folderContainer">
    <div id="folderTitle">사진첩</div>
    <hr>
    <div id="folderMainDiv">
        <div id="folderWrap">
            <div class="selectWrap">
                <button id="folderAddBtn"><img src="/static/images/common/addFolder.png"> 폴더 추가</button>
            </div>
            <div id="folderNameWrap">
                <input type="text" class="folderInput" placeholder="폴더명을 입력해주세요">
                <button class="folderInputBtn">등록</button>
            </div>
            <div id="statusSelect">
                <label for="availStatus"></label>
                <select name="availStatus" id="availStatus">
                    <option value="31">모두공개</option>
                    <option value="32">일촌공개</option>
                    <option value="33">나만보기</option>
                </select>
            </div>
        </div>
    </div>
</div>