<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="/static/css/album.css">

 <div class="post-register">
    <button class="register-btn" id="saveBtn">등록</button>
 </div>
<div class="post-container">
    <!-- 제목쪽 -->
    <div class="post-header">
        <!-- 등록-->
        <div class="upload-title">
            <div class="album-title">
                <input type="text" id="albumTitle" name="albumTitle" placeholder="제목을 입력하세요."/>
            </div>
            <div class="album-avail-status-select">
                <select id="albumAvailStatus" name="albumAvailStatus" >
                    <option value="31">모두공개</option>
                    <option value="32">일촌공개</option>
                    <option value="33">나만보기</option>
                </select>
            </div>
            <div class="album-folder-select">
                <select id="albumFolderId" name="albumFolderId">
                    <option>사진첩</option>
                    <option>텍스트</option>
                </select>
            </div>
        </div>

        <!-- 조회-->
        <div class="display-albumTitle active">
            잘한다 잘한다!
        </div>
    </div>

    <!-- 게시물 내용 -->
    <div class="post-content">
                                    <!-- 테스트 마치고 active클래스 갈아끼우는 걸로 변경-->
        <!-- 등록-->
        <div class="register-content">
            <div class="upload-img">
                <input type="file" id="albumImage" name="albumImage" accept="image/*"/>
            </div>
            <div class="upload-text">
                <textarea id="albumText" name="albumText"></textarea>
            </div>
        </div>

        <!-- 조회-->
        <div class="display-content active">
            <div class="display-img">
                사진
            </div>
            <div class="display-text">
                설명
            </div>
        </div>
    </div>
</div>

<div class="post-bottom">

    <!-- 삭제 수정 탭-->
    <div class="post-actions">
        <button class="delete-btn">삭제</button>
        <button class="edit-btn">수정</button>
    </div>

    <!-- 댓글 작성 탭-->
    <div class="friendSay">
        <div class="comment-section">
            <span id="comment-name"> 댓글 작성</span><input type="text" >
            <button>등록</button>
        </div>
    </div>

    <!-- 댓글 목록 탭-->
    <div class="comments-list">
        <div>
            <div class="commentUser"><strong>리자몽</strong></div> : 개발자가 되고싶다
        </div>
        <span>2025.03.07 18:45</span>
        <span><a href="#" style="cursor: pointer"> 수정</a> | <a href="#" style="cursor: pointer">삭제</a></span>
        <span>미니홈피 주인이 고정한 댓글입니다.</span>
        <div class="star-rating">★32</div>
    </div>

</div>