<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/post.css">



     <div class="post-register">
        <button class="register-btn">등록</button>
     </div>
    <div class="post-container">
        <!-- 게시물 헤더 -->
        <div class="post-header">
            <h2>잘한다 잘한다!</h2>

        </div>

        <!-- 게시물 정보 -->
        <div class="post-info">
            <span>홍길동</span>
            <span>2025-03-08 14:44</span>
        </div>

        <!-- 게시물 내용 -->
        <div class="post-content">
            <img src="/static/images/common/good.png" alt="게시물 이미지">

<p>잘한다 잘한다!</p>
</div>
</div>
<div class="post-bottom">
<!-- 게시물 액션 -->
<div class="post-actions">
<button class="delete-btn">삭제</button>
<button class="edit-btn">수정</button>
</div>

<!-- 댓글 작성 -->
<div class="comment-section">
댓글 작성<input type="text" >
<button>등록</button>
</div>

<!-- 댓글 리스트 -->
<div class="comments-list">
    <div><div class="commentUser"><strong>리자몽</strong></div> : 개발자가 되고싶다</div>
    <span>2025.03.07 18:45</span>
    <span><a href="#" style="cursor: pointer"> 수정</a> | <a href="#" style="cursor: pointer">삭제</a></span>
    <span>미니홈피 주인이 고정한 댓글입니다.</span>
    <div class="star-rating">★32</div>
</div>
</div>