<!--<div class="folderContainer">-->
<!--    <div id="folderTitle">사진첩</div>-->
<!--    <hr>-->
<!--    <div id="folderMainDiv">-->
<!--        <div id="albumFolderWrap">-->
<!--            <div class="albumSelectWrap">-->
<!--                <button id="albumFolderAddBtn"><img src="/static/images/common/addFolder.png"> 폴더 추가</button>-->
<!--            </div>-->
<!--            <div id="albumFolderNameWrap">-->
<!--                <input type="text" class="albumFolderInput" placeholder="폴더명을 입력해주세요">-->
<!--                <button class="albumFolderInputBtn">등록</button>-->
<!--            </div>-->
<!--            <div id="albumStatusSelect">-->
<!--                <label for="availStatus"></label>-->
<!--                <select name="availStatus" id="availStatus">-->
<!--                    <option value="31">모두공개</option>-->
<!--                    <option value="32">일촌공개</option>-->
<!--                    <option value="33">나만보기</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->