<html xmlns:th="http://www.thymeleaf.org">

<div class="swiper-slide" th:each="imageSlide : ${imageSlideList}">
    <img th:src="${imageSlide.filePath}" alt="" class="slideshow-image">
</div>

</html>
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>


