<div th:fragment="findModal">
    <!-- 모달 영역 -->
    <div id="modal-layer" class="modal-layer" style="display: none;">
        <div class="modal-content">
            <div class="logo">
                <img src="/static/images/common/logo_full.png" alt="Logo" style="max-width: 100%;">
            </div>
            <!-- 탭 버튼 -->
            <div class="modal-tabs">
                <button id="tab-find-id" class="active">아이디 찾기</button>
                <button id="tab-find-pwd">비밀번호 찾기</button>
            </div>
            
            <!-- 아이디 찾기 폼 -->
            <div id="find-id-form" style="display: block;">
                <!-- 입력 부분을 감싸는 컨테이너 -->
                <div id="find-id-inputs">
                    <div class="input-group">
                        <label for="name">이름</label>
                        <input type="text" id="name" placeholder="이름을 입력하세요">
                    </div>
                    <div class="input-group">
                        <label>생년월일</label>
                        <div class="select-group">
                            <select id="birth-year">
                                <option value="">년</option>
                            </select>
                            <select id="birth-month">
                                <option value="">월</option>
                            </select>
                            <select id="birth-day">
                                <option value="">일</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <!-- 초기 버튼 그룹 -->
                <div class="btn-group" id="find-id-buttons">
                    <button id="findId">찾기</button>
                    <button id="findIdClose">닫기</button>
                </div>
                
                <!-- 아이디 찾기 결과 표시 (버튼 그룹 포함) -->
                <div id="show-id-layer" style="display: none; margin-top:15px; text-align:center;">
                    <p style="margin-bottom: 15px; padding-top: 30px; font-size: 14px;">사용자님의 아이디는
                        <span id="found-id" style="color: #FF8000; font-weight: 700; font-size: 16px;">1234</span> 입니다.</p>
                    <div class="btn-group" style="margin-top: 50px;">
                        <button id="gotoChangePwd">비밀번호 변경</button>
                        <button id="resultFindIdClose">닫기</button>
                    </div>
                </div>
            </div>
            
            <!-- 비밀번호 찾기 폼 -->
            <div id="find-pwd-form" style="display: none;">
                <div class="input-group">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" placeholder="아이디를 입력하세요">
                </div>
                <div class="input-group">
                    <label for="email">이메일</label>
                    <div class="input-box">
                        <input type="text" id="email" placeholder="이메일을 입력하세요">
                        <button type="button" id="emailSend">인증번호 전송</button>
                    </div>
                </div>
                <div class="input-group">
                    <label for="codeCheck">인증번호</label>
                    <div class="input-box">
                        <input type="text" id="codeCheck" placeholder="이메일로 발송된 인증번호를 입력해주세요">
                        <button id="emailCheck" type="button">인증번호 확인</button>
                    </div>
                </div>
                <div class="btn-group">
                    <button id="findPwdClose">닫기</button>
                </div>
                <!-- 비밀번호 변경 폼 (인증 후) -->
                <div id="change-pwd-layer" style="display: none; margin-top:15px;">
                    <div class="input-group">
                        <label for="newPwd">새 비밀번호</label>
                        <input type="password" id="newPwd" placeholder="새 비밀번호를 입력하세요">
                    </div>
                    <div class="input-group">
                        <label for="newPwdCheck">새 비밀번호 확인</label>
                        <input type="password" id="newPwdCheck" placeholder="새 비밀번호를 다시 입력하세요">
                    </div>
                    <div class="btn-group">
                        <button id="changePwd">변경</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
