<div th:fragment="friendModal">
    <!-- 일촌 모달 영역 -->
    <div id="friend-modal-layer" class="modal-layer hidden">
        <div class="modal-content">
            <div class="modal-close-wrapper">
                <img id="friend-modal-close" class="close" src="/static/images/common/icon/close.png" alt="close">
            </div>
            <div class="modal-header">
                <div class="modal-logo">
                    <img src="/static/images/common/logo/logo_full.png" alt="Logo" style="max-width: 100%;">
                </div>
            </div>
            <div class="modal-body">
                <!-- 일촌 목록/신청 탭 영역 -->
                <div class="modal-side-tabs">
                    <div class="side-tab-content">
                        <span id="side-list-text" class="side-tab-text">일촌 목록</span>
                        <div id="side-logged-friends" class="side-tab-data"></div>
                    </div>
                    <div class="side-tab-content">
                        <span id="side-request-text" class="side-tab-text">일촌 신청</span>
                        <div id="side-friend-request" class="side-tab-data"></div>
                    </div>
                </div>
                <!-- 일촌 목록 -->
                <div class="modal-main-content">
                    <div id="now-friend">
                        <div id="now-friend-display"></div>
                        <span>/</span>
                        <div id="all-friend-display"></div>
                    </div>
                    <div id="friend-list">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>