/*utils*/
.space-between{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.bold{
    font-weight: bold;
}


/*전체*/
.mainContainer {
    max-width: 1280px;
    margin: 0 auto;
}
/*상단 메뉴*/
.giftMenu {
    display: flex;
    border-bottom: 1px solid rgb(146, 146, 146);
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 30px;
}
.top-header-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.top-header-menu li {
    position: relative;
}

.top-header-menu li.active a {
    border-bottom: 5px solid var(--color-basic);
    padding-bottom: 10px;
}

.top-header-menu li a {
    padding-bottom: 10px;
}

.top-header-menu a {
    text-align: center;
    color: #000000;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
    margin: 75px;
}

/*본문*/
.subMainContainer {
    display: grid;
    grid-template-columns:200px auto 200px;
    height: auto;
}

/*본문 좌측*/
.menuContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    gap: 10px;
    /*
    border: 1px solid black;
    justify-content: space-between;*/
}
.gift-shop-new-badge{
    position: absolute;
    top: -1px;
    right: -12px;
    width: 10px;
    height: 10px;
}
.gift-shop-new-badge img{
    width: 100%;
    height: 100%;
}



.menuminihompi {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.menuminihompi li {
    list-style: none;
    margin-bottom: 8px;
}

.menuminihompi h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuminihompi a {
    text-decoration: none;
    color: grey;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .3s;
}
.menuminihompi a.active{
    color: var(--color-basic);
}
.menuminihompi a:not(.active):hover{
    transform: translateX(5px);
}

.menuBgm {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.menuBgm h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.menuBgm a {
    text-decoration: none;
    color: grey;
}

/*s:최근 본 아이템*/
/* swiper.recent-item-swiper > swiper-wrapper > swiper-slide > img */
.gift-swiper{
    overflow: hidden;
}
.menuRecentItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 15px;*/
    padding: 20px;
}
.menuRecentItems h2 {
    font-size: 24px;
    font-weight: 700;
    align-self: start;
    margin-bottom: 15px;
}
#recent-item-swiper{
    height: 350px;
}
.recent-item-link{
    height: 150px !important;
    text-align: center;
    cursor: pointer;
}
.recent-item-link img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.recent-item-link p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
.delete-recent-item{
    position: absolute;
    right: 0;
    top: 0;
}
.arrow{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--color-basic);
    cursor: pointer;
}
/*e: 최근 본 아이템*/

/*본문 중앙*/
.contentContainer {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
.itemTitle {
    text-align: center;
    border-bottom: 3px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.itemContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.itemCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin: 0 8px;
}

.itemImg {
    border: 1px solid black;
    width: 175px;
    height: 175px;
}

.itemImg img {
    width: 100%;
    height: 100%;
}

.itemDesc {
    text-align: center;
    margin: 10px 0;
}

.itemPrice {
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.itemBuy {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
}



.itemPricing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*본문 우측*/
.cartContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    position: sticky;
    top: 10vh;
}
/*s: 선택한 아이템을 */
.selectedItemMenu {
    border: 1px solid #999;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
}
.selectItem {
    justify-self: center;
    font-size: 14px;
    font-weight: 700;

}
.selectItem .bi{
    color: var(--color-basic);
    font-size: 16px;
}
.itemBuyFinal {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding-top: 10px;
}
.itemBuyFinal div{
    height: 34px;
    aspect-ratio: 1/1;
}
.itemBuyFinal div:last-child{
    aspect-ratio: unset;
}

.itemGift,
.itemGiftFinal,
.itemCart {
    border: 1px solid #B5C0D0FF;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all;
}
.itemGiftFinal:hover,
.itemGift:hover,
.itemCart:hover{
    background-color: #B5C0D0FF;
    color: #fff
}
.itemPurchaseFinal,
.itemPurchase {
    border: 1px solid var(--color-basic);
    color: var(--color-basic);
    border-radius: 5px;
    font-size: 12px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.itemPurchaseFinal:hover,
.itemPurchase:hover {
    background-color: var(--color-basic);
    color: #fff;
}
/*e: 선택한 아이템을 */

/*s: 장바구니 아이템*/
.cart {
    border: 1px solid #999;
    padding: 20px;
    border-radius: 5px;
}
.cart h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.cart .swiper .swiper-slide{
    height: 80px !important;
}
.cart .gift-swiper{
    height: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart .swiper-slide{
    border-bottom: 1px solid #ccc;
}
.itemSum {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.finalItemBuy {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
/*e: 장바구니 아이템*/

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}



