<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">워너비</title>
    <!-- 메인 페이지 전용 스타일 -->
    <link rel="stylesheet" th:href="@{/static/css/weather.css}" layout:fragment="styles"/>
    <link rel="stylesheet" th:href="@{/static/css/movie.css}" layout:fragment="styles"/>
    <link rel="stylesheet" th:href="@{/static/css/imageSlide.css}" layout:fragment="styles"/>
    <link rel="stylesheet" th:href="@{/static/css/product.css}" layout:fragment="styles"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
          layout:fragment="styles"/>
   <th:block th:replace="common/layout/fragments/favicon :: favicon"></th:block>
</head>
<body>
<div layout:fragment="content">
    <!-- 모달 -->
    <th:block th:include="/home/fragment/findIdAndPwInclude :: myModal"></th:block>
    <div id="container">
        <div class="containerWrap">
            <div class="mainTop">
                <!--login s-->
                <div class="mainTopLeft">
                    <div class="loginWrap noLogin">
                        <div class="loginWrapTop">
                            <div class="loginInputWrap">
                                <ul>
                                    <li><input type="text" name="loginId"></li>
                                    <li><input type="password" name="password"></li>
                                </ul>
                            </div>
                            <div class="loginBtnWrap">
                                <a href="#" class="loginBtn btn">로그인</a>
                            </div>
                        </div>
                        <div class="loginWrapBot">
                            <ul>
                                <li><a href="#" class="signupBtn btn">회원가입</a></li>
                                <li><a id="findIdAndPw" class="btn">ID찾기 / 비밀번호찾기</a></li>
                            </ul>
                        </div>
                    </div>
                    <div th:replace="/common/layout/fragments/yesLoginInclude :: yesLoginForm"></div>
                </div>
                <!--login e-->
                <div class="mainTopCenter">
                    <!--메인슬라이더-->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <!--불러오기-->
                        </div>
                        <div class="swiper-button-next">&rtrif;</div>
                        <div class="swiper-button-prev">&ltrif;</div>
                        <div class="swiper-pagination"></div>
                        <div class="autoplay-progress" style="display: none;">
                            <svg viewBox="0 0 48 48">
                                <circle cx="24" cy="24" r="20"></circle>
                            </svg>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="mainTopRight">
                    <div class="weather-container">
                        <p class="mainTitleText">오늘의 날씨</span></p>
                        <h3 id="location">날씨 정보</h3>
                        <div class="weather-content">
                            <img id="weatherIcon" src="" alt="날씨 아이콘">
                            <div class="weather-info">
                                <p>현재 온도: <span id="temperature">- °C</span></p>
                                <p>강수량: <span id="rain">- %</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainBot">
                <div class="mainBotLeft">
                    <div>
                        <p class="mainTitleText">
                            신규출시아이템
                            <span style="font-size: 14px; color: gray; margin-left: 10px; cursor: pointer;" onclick="refreshProducts()">[새로고침]</span>
                        </p>

                        <div id="category-menu">
                            <button onclick="fetchTopProducts('01')">미니미</button>
                            <button onclick="fetchTopProducts('10')">일러스트</button>
                            <button onclick="fetchTopProducts('20')">미니룸</button>
                        </div>

                        <!-- 상품 리스트를 표시할 컨테이너 -->
                        <div id="product-container" >
                            <!-- 상품이 여기에 표시됩니다 -->
                        </div>
                    </div>
                </div>

                <div class="mainBotCenter">
                    <div class="top">
                        <p class="mainTitleText">인기 급상승 유저 <span>전일 기준 방문자 수 Top 10</span></p>
                        <ul class="favoriteListWrap">
                            <li>
                                <ul class="favoriteList favoriteList1">
                                    <li>
                                        <div class="faNum">1
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">2
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">3
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">4
                                            <span><img src="/static/images/common/star.png"></span>
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">5
                                            <span><img src="/static/images/common/star.png"></span>
                                        </div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="favoriteList favoriteList2">
                                    <li>
                                        <div class="faNum">6</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">7</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">8</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">9</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="faNum">10</div>
                                        <div class="faText">
                                            <span class="name">홍길동</span>
                                            <img src="/static/images/common/homeIcon.png"/>
                                            <span class="today">Today :</span>
                                            <span class="todayNum">1234</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="bot">
                        <p class="mainTitleText">실시간뉴스</p>
                        <ul id="newsList"></ul> <!-- 동적으로 생성 -->
                    </div>
                </div>
                <div class="mainBotRight">
                    <div class="top">
                        <p class="mainTitleText">오늘의 운세</p>
                        <div class="todayLuckyFrame">
                            <p class="todayLucky"></p>
                        </div>
                    </div>
                    <div class="bot">
                        <p class="movie">영화추천</p>
                        <span class="movie_todayMovie"></span>
                        <div class="movieWrapper" id="movieWrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--메인 끝-->

    <!-- 로딩 스피너 -->
    <th:block th:replace="common/layout/fragments/loading :: loadingSpinner"/>
    <script src="/static/js/home/mainHome.js"></script>
</div>
<!-- 메인 페이지 전용 JS -->
<th:block layout:fragment="scripts">
    <script src="/static/js/home/fortune.js"></script>
    <script src="/static/js/home/newsSection.js"></script>
    <script src="/static/js/home/weather.js"></script>
    <script src="/static/js/findIdAndPw.js"></script>
    <script src="/static/js/home/product.js"></script>
    <script src="/static/js/home/yesLoginPopupMessage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</th:block>
</body>
</html>
