<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/layout}">
<head>
    <title layout:fragment="title">공지사항</title>
    <!-- 공지사항 페이지 전용 스타일 -->
    <link rel="stylesheet" th:href="@{static/css/notice/notice.css}" layout:fragment="styles">
</head>
<body>
<div layout:fragment="content">
    <!-- 공지사항 -->
    <div id="container">
        <div class="containerWrap">
            <div id="menu">
                <a> 공지 관리</a>
                <a> 배너 관리</a>
            </div>
            <div id="main">
                <div class="menu_title">
                    <h1> 공지사항 </h1>
                    <h2> 등록하기 </h2>
                    <h2> 수정하기 </h2>
                </div>
                <div class="notice">
                    <div class="formal">
                        <select id="data-limit">
                            <option value="10" th:selected="${limit == 10}">10개씩 보기</option>
                            <option value="30" th:selected="${limit == 30}">30개씩 보기</option>
                            <option value="50" th:selected="${limit == 50}">50개씩 보기</option>
                        </select>
                        <select id = "filter-field">
                            <option value="all">제목 + 내용</option>
                            <option value="content">내용</option>
                            <option value="title">제목</option>
                        </select>
                        <select  id="filter-type" class="filterSelect">
                            <option value="" th:selected="${noticeType == null or noticeType == ''}">분류(전체)</option>
                            <option value="01" th:selected="${noticeType == '01'}">공지사항</option>
                            <option value="02" th:selected="${noticeType == '02'}">이벤트</option>
                            <option value="03" th:selected="${noticeType == '03'}">팝업</option>
                            <option value="04" th:selected="${noticeType == '04'}">전체 쪽지</option>
                            <option value="05" th:selected="${noticeType == '05'}">관리자 쪽지</option>
                        </select>
                        <div class="search">
                            <input type="search" placeholder="입력창" id="search-keyword" th:value="${keyword}">
                            <button id="search-btn"></button>
                        </div>
                    </div>
                    <div>
                        <table>
                            <tr class="top" >
                                <th>
                                    <input type="checkbox" id="selectAll">
                                </th>
                                <th>
                                    <select class="filterSelect">
                                        <option value="">분류(전체)</option>
                                        <option value="01">공지</option>
                                        <option value="02">이벤트</option>
                                        <option value="03">팝업</option>
                                        <option value="04">전체 쪽지</option>
                                        <option value="05">관리자 쪽지</option>
                                    </select>

                                </th>
                                <th>제목</th>
                                <th>게시일</th>
                                <th>작성일</th>
                                <th>작성자</th>
                            </tr>
                            <tr th:each="notice : ${notices}">
                                <th>
                                    <input type="checkbox" class="rowCheckbox">
                                </th>
                                <th><p th:text="${notice.getNoticeTypeName}" th:classappend="${notice.getNoticeTypeCssClass}">공지 사항</p></th>
                                <th><a th:text="${notice.noticeTitle}">취업하고 놀고 싶다~!!</a></th>
                                <th th:text="${notice.getDateRange}">2025.03.19~2025.03.21</th>
                                <th th:text="${notice.insertDT}">2025.03.19</th>
                                <th th:text="${notice.loginId}">산토끼</th>
                            </tr>
                        </table>
                    </div>
                    <div class="page">
                        <button class="delete">선택 삭제</button>
                        <span>
                            <!-- 첫 번째 페이지 버튼 -->
                            <a th:if="${currentPage > 1}"
                               th:href="@{|?limit=${limit}&offset=0|}"
                               class="first"></a>
                            <!-- 이전 페이지 버튼 -->
                            <a th:if="${startPage > 1}"
                               th:href="@{|?limit=${limit}&offset=${(startPage - 2) * limit}|}"
                               class="prev"></a>

                            <!-- 페이지 번호 버튼들 -->
                            <span th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                 <a th:href="@{|?limit=${limit}&offset=${(page - 1) * limit}|}"
                                    th:text="${page}"
                                    th:classappend="${page == currentPage} ? 'active' : ''"></a>
                            </span>

                            <!-- 다음 페이지 버튼 -->
                            <a th:if="${endPage < totalPages}"
                               th:href="@{|?limit=${limit}&offset=${endPage * limit}|}" class="next"></a>

                            <!-- 마지막 페이지 버튼 -->
                            <a th:unless="${currentPage == totalPages}"
                               th:href="@{|?limit=${limit}&offset=${(totalPages - 1) * limit}|}" class="last"></a>
                        </span>
                        <button class="create">등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 공지사항 페이지 전용 JS -->
<th:block layout:fragment="scripts">
    <script src="/static/js/home/notice.js"></script>
</th:block>
</body>
</html>


