<div xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bgmFragment">
<div id="subViewBgm">
    <div id="bgmTitleWrap">
        <button onclick="resumeBtnClick()" id="resumeBtn">
            <img id="recordImg" src="/static/images/common/minimi/musicRecord.png">
        </button>
        <div id="bgmTitle">노래 제목</div>
    </div>
    <div id="bgmPlayerWrap">
        <audio id="bgmPlayer">
            <source type="audio/mp3">
        </audio>
        <button id="pauseBtn">
            <img src="/static/images/common/minimi/playBtn.png">
        </button>
        <button id="stopBtn">
            <img src="/static/images/common/minimi/stopBtn.png">
        </button>
        <button id="prevBtn">
            <img src="/static/images/common/minimi/prevBtn.png">
        </button>
        <button id="nextBtn">
            <img src="/static/images/common/minimi/nextBtn.png">
        </button>
        <button id="volumeBtn">
            <img src="/static/images/common/minimi/volume.png">
        </button>
        <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="0.5">
        <div id="trackContainer">
            <button id="lyricsBtn">
                <img src="/static/images/common/minimi/lyricsBtn.png">
            </button>
            <button id="listBtn">
                <img src="/static/images/common/minimi/listBtn.png">
            </button>
        </div>
    </div>
</div>
<div id="trackListWrap">
    <h1></h1><hr class="customHr">
</div>
</div>
</div>

